/deep/ .mat-form-field-wrapper{
  width:20vw;
}

.button{
  width:15vw;
  margin:auto;
  background-color:#D17B53;
  color:white;
  text-align:center;
  padding: 1px 10px 1px 10px;
  text-transform:uppercase;
}

#form{
  margin: auto;
  padding-top:10vh;
  width: fit-content;
}

#logo{
  display:block;
  width:10%;
  margin:auto;
  filter: brightness(0);
}

h1{
  text-align:center;
  font: Bold 45px/55px Montserrat;
}