<div id="mainArticle">
  <div id="resume" [innerHTML]="article.resume"></div>

  <div style="position:relative">
    <div id="corps" [innerHTML]="corpsArticleFilled | safeHtml"></div>
    <div id="tooltipDescWord" *ngIf="isOneWordHovered" [style]="styleTooltip">
      <div id="arrow"></div>
      <div id="textDesc">
        <p><b>{{keywordHovered}}</b> : {{descHovered}}</p>
      </div>
    </div>
  </div>

  <div id="listAuteurs">
    <p *ngIf="article.listAuteurs.length==0">{{ 'blog.auteurNonRenseigne' | translate }}</p>
    <div *ngFor="let auteur of article.listAuteurs; let i=index">
      <div class="oneAuteur">
        <p>{{auteur.prenom}} {{auteur.nom}}</p>
        <p>{{auteur.fonction}}</p>
      </div>
      <div *ngIf="i!=article.listAuteurs.length-1" class="horizontalSeparator"></div>
    </div>
  </div>
</div>

<div id="sources">
  <div class="flexRow" style="align-items: center; justify-content: center;">
    <h1>{{ 'blog.sources' | translate }}</h1>
    <div class="divImage" (click)="invertSource()">
      <img class="button" *ngIf="!isShowSource" src="../../assets/images/arrowBlack.svg" />
      <img class="button" *ngIf="isShowSource" style="transform:rotate(-180deg)"
        src="../../assets/images/arrowBlack.svg" />
    </div>
  </div>

  <div id="listSources" *ngIf="isShowSource">
    <p *ngIf="article.sources.length==0 || article.sources.includes('undefined')">{{ 'blog.noSource' | translate }}</p>
    <p *ngIf="!article.sources.length==0 && !article.sources.includes('undefined')" [innerHTML]="article.sources"></p>
  </div>
</div>