@media screen and (max-width: 640px){
    #mainArticle{
        width:90%;
        #resume{
            p{
                font-weight: bold;
                font-size: 20px;
            }
            
        }
        #corps{
            font-size: 20px;
        }
        #listAuteurs{
            .oneAuteur{
                font-size: 20px;
            }
        }
    }
    #sources{
        padding-top: 8vh;
        padding-bottom: 8vh;
        h1{
            font-size: 20px;
        }
        p{
            font-size: 16px;
        }
    }
    
    #tooltipDescWord{
        #arrow{
            margin-left: 35vw;
        }
        #textDesc{
            width: 60vw;
        }
    }
}