<router-outlet></router-outlet>

<!--Popup de contact-->
<div id="popupContact" *ngIf="isPopupContactActive">
  <div *ngIf="!hasBeenSent">
    <img class="button iconCross" (click)="closePopup()" src="../assets/images/blackCross.svg">
    <h1>{{ 'contact.title' | translate }}</h1>
    <div class="flexCol">
      <input id="mailContact" type="text" placeholder="{{ 'contact.contact' | translate }}" [(ngModel)]="mailContact">
      <textarea  id="message" type="text" placeholder="{{ 'contact.message' | translate }}" [(ngModel)]="message"></textarea>
    </div>

    <p *ngIf="isErrorMail" class="incorrectMessage">{{ 'contact.error' | translate }}</p>
    <div id="buttonsPopup" class="flexRow">
      <div class="button" (click)="sendMessage()">
        <p>{{ 'contact.send' | translate }}</p>
      </div>
    </div>
  </div>

  <div *ngIf="hasBeenSent">
    <p>{{ 'contact.after' | translate }}</p>
  </div>
</div>