//SPECIFIC FOR RESPONSIVITE

@media screen and (max-width: 640px){
    #popupContact{
        width: 80vw;
        top: 25vh;
        left: 8.5vw;
        padding-left: 1.5vw;
        padding-right: 1.5vw;
        padding-top: 1.5vh;
        h1{
            font-size: 100%;
        }
        
        input, textarea{
            padding: 5px;
            font-size: 11px;
            font-weight: 500;
        }
        #mailContact{
            height: 15px;
            
        }
        
        #message{
            height: 15vh;
            margin-top: 5px;
        }
        
        #buttonsPopup{
            justify-content: flex-end;
            margin-top:2vh;
            margin-bottom:2vh;
            .button{
                border:1px solid white;
                text-transform: uppercase;
                color:white;
                width:35%;
                padding: 3px 5px 3px 5px;
                p{
                    margin:0;
                    text-align:center;
                    font-size: 90%;
                }
            }
        }
        .iconCross{
            width: 20px;
            right: 10px;
            top: 10px;
        }
    }
}