.wrap {
  .image {
    position: relative;
    background-size: 100% auto;
    background-position: center;
    height: inherit;
    align-items: center;
    display: flex;

    &:before {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
    }

    .text {
      color: #FFF;
      position: relative;
      display: none;
      margin: 0px;
      width: 90%;
      margin-top: -2vw;
      margin-left:auto;
      margin-right:auto;
      text-align: center;
      font-size: 1vw;
      overflow: hidden;
    }
  }

  &:hover {
    .image {
      &:before {
        background: rgba(0, 0, 0, 0.5);
      }

      .text {
        display: flex;
      }
    }
  }
}


#titre {
  margin: 5px 0px 0px 0px;
  font-weight: bold;
  font-size: 1.2vw;
}