
//SPECIFIC FOR RESPONSIVITE

@media screen and (max-width: 1000px) {
  #titreMiniature {
    font-size: 13px;
    margin: auto;
  }

  .wrap {
    margin-top:2vh;
    margin: auto;
    &:hover {
      .image {
        &:before {
          background: none;
        }
  
        .text {
          display: none;
        }
      }
    }
  }
}