<!--<div class="button" routerLink="/admin/pannel/blogModeration/write">
  <p>Ajouter un article</p>
</div>

<div class="button" routerLink="/admin/pannel/blogModeration/edit">
  <p>Editer/Supprimer un article</p>
</div>

<div class="button" routerLink="/admin/pannel/blogModeration/settings">
  <p>Modifier les entrées</p>
</div>-->


<h1>B.Admin</h1>
<img id="logo" src="../../assets/images/logo.svg" />

<div id="listAction">
  <p class="button" routerLink="/admin/pannel/blogModeration/write">Ajouter un article</p>
  <p class="button" routerLink="/admin/pannel/blogModeration/edit">Editer/Supprimer un article</p>
  <p class="button" routerLink="/admin/pannel/blogModeration/settings">Modifier les entrées</p>
</div>