<h1 style="text-align:center" *ngIf="!isEdit">{{ 'admin.title' | translate }}</h1>
<h1 style="text-align:center" *ngIf="isEdit">Editer un article</h1>

<div id="langSelect" class="flexRow" *ngIf="!isEdit">
  <p class="buttonLang button" [ngClass]="{'selected': newArticle.langue=='FR'}" (click)="switchLangueArticle('FR')">FR
  </p>
  <p class="buttonLang button" [ngClass]="{'selected': newArticle.langue=='EN'}" (click)="switchLangueArticle('EN')">EN
  </p>
</div>

<div id="formulaire">
  <div id="general" class="flexCol">
    <h2>{{ 'admin.general' | translate }}</h2>
    <mat-form-field class="example-full-width mediumInput">
      <input matInput placeholder="{{ 'admin.titrePlH' | translate }}" [(ngModel)]="newArticle.title">
    </mat-form-field>
    <h3>{{ 'admin.resume' | translate }}</h3>
    <ckeditor [editor]="editor" [(ngModel)]="newArticle.resume"></ckeditor>
    <h3>{{ 'admin.corps' | translate }}</h3>
    <ckeditor [editor]="editor" [(ngModel)]="newArticle.fullText"></ckeditor>
  </div>

  <div id="informationsSup" class="flexCol">
    <h2>{{ 'admin.suppInfo' | translate }}</h2>
    <div id="listSelectInput" class="flexRow">
      <div class="flexRow oneInputSelect">
        <p>{{ 'admin.temps' | translate }}</p>
        <mat-form-field class="smallInput">
          <mat-select [(value)]="newArticle.time">
            <mat-option *ngFor="let time of listTime" [value]="time">{{time}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="flexRow oneInputSelect">
        <p>{{ 'admin.diff' | translate }}</p>
        <mat-form-field class="smallInput">
          <mat-select [(value)]="newArticle.difficulte">
            <mat-option *ngFor="let difficulte of listDifficulte" [value]="difficulte">{{difficulte}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
  </div>

  <div id="imageSelect" class="flexRow">
    <mat-form-field class="example-full-width mediumInput">
      <input matInput placeholder="{{ 'admin.illustrationPlH' | translate }}" [(ngModel)]="newArticle.srcImg">
    </mat-form-field>
    <div style="border:1px solid black; height: 100px; width: 200px; margin-left:2vw;">
      <img *ngIf="newArticle.srcImg.length!=0" [src]="newArticle.srcImg" />
    </div>
  </div>

  <div id="type">
    <div class="flexRow">
      <h2 style="margin-right:3vw;">Type</h2>
      <mat-form-field class="smallInput">
        <mat-select [(value)]="newArticle.type">
          <mat-option *ngFor="let type of displayedLangTypes" [value]="type">{{type.key}}</mat-option>
        </mat-select>
      </mat-form-field>
      <img *ngIf="!isAddType" class="button logoAdd" (click)="openAdd('type')"
        src="../../../../../assets/images/addButton.svg" />
      <img *ngIf="isAddType" class="button logoAdd" (click)="closeAdd('type')"
        src="../../../../../assets/images/sortirButton.svg" />
    </div>

    <div class="flexRow" *ngIf="isAddType">
      <p style="margin-right:3vw;">{{ 'admin.addType' | translate }}</p>
      <div class="flexRow inputAdd">
        <mat-form-field class="example-full-width smallInput">
          <input matInput placeholder="Type" [(ngModel)]="newType.key">
        </mat-form-field>
        <p style="margin-left:3vw;" class="button buttonAdd" (click)="addItemToLists('type')">
          {{ 'admin.ajouter' | translate }}</p>
      </div>
    </div>

    <div class="flexRow" *ngIf="newArticle.type.key===''">
      <img style="width:10px; margin-right:10px;" src="../../../../../assets/images/alertOrange.svg" />
      <p>{{ 'admin.aucunType' | translate }}</p>
    </div>

  </div>

  <div id="sources">
    <h2>{{ 'admin.sources' | translate }}</h2>
    <ckeditor [editor]="editor" [(ngModel)]="newArticle.sources"></ckeditor>
    <!--<div class="flexRow">
      <h2>{{ 'admin.sources' | translate }}</h2>
      <img *ngIf="!isAddSource" class="button logoAdd" (click)="openAdd('source')"
        src="../../../../../assets/images/addButton.svg" />
      <img *ngIf="isAddSource" class="button logoAdd" (click)="closeAdd('source')"
        src="../../../../../assets/images/sortirButton.svg" />
    </div>
    <div class="flexRow inputAdd" *ngIf="isAddSource">
      <mat-form-field class="example-full-width smallInput" style="margin-right: 30px;">
        <input matInput placeholder="{{ 'admin.nomPlH' | translate }}" [(ngModel)]="newSource.name">
      </mat-form-field>
      <mat-form-field class="example-full-width mediumInput">
        <input matInput placeholder="{{ 'admin.lienPlH' | translate }}" [(ngModel)]="newSource.link">
      </mat-form-field>
      <p class="button buttonAdd" (click)="addItemToLists('source')">{{ 'admin.ajouter' | translate }}</p>
    </div>
    <div class="flexRow" *ngIf="newArticle.listSources.length==0">
      <img style="width:10px; margin-right:10px;" src="../../../../../assets/images/alertOrange.svg" />
      <p>{{ 'admin.aucuneSource' | translate }}</p>
    </div>
    <div class="flexRow oneSource" *ngFor="let source of newArticle.listSources">
      <p>{{source.name}} [{{source.link}}]</p>
      <img class="button" style="margin-left:2vw;" src="../../../../../assets/images/straightBlackCross.svg"
        (click)="removeItem('source', source)" />
    </div>-->
  </div>

  <div id="auteurs">
    <div class="flexRow">
      <h2>{{ 'admin.auteurs' | translate }}</h2>
      <img *ngIf="!isAddAuteur" class="button logoAdd" (click)="openAdd('auteur')"
        src="../../../../../assets/images/addButton.svg" />
      <img *ngIf="isAddAuteur" class="button logoAdd" (click)="closeAdd('auteur')"
        src="../../../../../assets/images/sortirButton.svg" />
    </div>
    <div *ngIf="isAddAuteur">
      <p>{{ 'admin.selectAuteurs' | translate }}</p>
      <div class="flexRow listCheckAndValidate">
        <div class="flexCol">
          <mat-checkbox *ngFor="let autor of fullListAutor" [(ngModel)]="mapCheckBox[autor.id]">{{autor.prenom}}
            {{autor.nom}} ({{autor.fonction}})</mat-checkbox>
        </div>
        <p class="button buttonAdd" (click)="validateCheckbox('auteur')">{{ 'admin.valider' | translate }}</p>
      </div>
      <p>{{ 'admin.addAuteur' | translate }}</p>
      <div class="flexRow inputAdd">
        <mat-form-field class="example-full-width smallInput" style="margin-right: 30px;">
          <input matInput placeholder="{{ 'admin.prenomPlH' | translate }}" [(ngModel)]="newAutor.prenom">
        </mat-form-field>
        <mat-form-field class="example-full-width smallInput" style="margin-right: 30px;">
          <input matInput placeholder="{{ 'admin.nomPersonnePlH' | translate }}" [(ngModel)]="newAutor.nom">
        </mat-form-field>
        <mat-form-field class="example-full-width mediumInput" style="margin-right: 30px;">
          <input matInput placeholder="{{ 'admin.fonctionPlH' | translate }}" [(ngModel)]="newAutor.fonction">
        </mat-form-field>
        <p class="button buttonAdd" (click)="addItemToLists('auteur')">Ajouter</p>
      </div>
    </div>
    <div class="flexRow" *ngIf="newArticle.listAuteurs.length==0">
      <img style="width:10px; margin-right:10px;" src="../../../../../assets/images/alertOrange.svg" />
      <p>{{ 'admin.aucunAuteur' | translate }}</p>
    </div>
    <div class="flexRow oneAutor" *ngFor="let autor of newArticle.listAuteurs">
      <p>{{autor.prenom}} {{autor.nom}} ({{autor.fonction}})</p>
      <img class="button" style="margin-left:2vw;" src="../../../../../assets/images/straightBlackCross.svg"
        (click)="removeItem('auteur', autor)" />
    </div>
  </div>

  <div id="secteurs">
    <div class="flexRow">
      <h2>{{ 'admin.secteurs' | translate }}</h2>
      <img *ngIf="!isAddSector" class="button logoAdd" (click)="openAdd('sector')"
        src="../../../../../assets/images/addButton.svg" />
      <img *ngIf="isAddSector" class="button logoAdd" (click)="closeAdd('sector')"
        src="../../../../../assets/images/sortirButton.svg" />
    </div>
    <div class="flexCol" *ngIf="isAddSector">
      <p style="margin: 0px;">{{ 'admin.selectSecteurs' | translate }}</p>
      <div class="flexRow">
        <div class="flexRow" style="max-width:80%;">
          <div class="oneSectorSelected" *ngFor="let sector of fullListSectors; let i=index">
            <div *ngIf="mapSectorSelected[sector.key]">
              <img class="button" src="../../../../../assets/images/straightBlackCross.svg"
                (click)="changeSelect(sector)" />
              <p class="oneChoiceToPick selected">{{sector.key}}</p>
            </div>
          </div>
          <div class="oneSectorSelected" *ngFor="let sector of fullListSectors; let i=index">
            <div *ngIf="!mapSectorSelected[sector.key]">
              <img class="button" src="../../../../../assets/images/addCross.svg"
                (click)="changeSelect(sector)" />
              <p class="oneChoiceToPick">{{sector.key}}</p>
            </div>
          </div>
        </div>
        <p class="button buttonAdd" style="margin-left:3vw;" (click)="validateCheckbox('secteur')">
          {{ 'admin.valider' | translate }}</p>
      </div>
      <div class="flexRow inputAdd">
        <mat-form-field class="example-full-width smallInput">
          <input matInput placeholder="{{ 'admin.nomPlH' | translate }}" [(ngModel)]="newSector.key">
        </mat-form-field>
        <p class="button buttonAdd" (click)="addItemToLists('secteur')">{{ 'admin.ajouter' | translate }}</p>
      </div>
    </div>

    <div class="flexRow" *ngIf="newArticle.listSectors.length==0">
      <img style="width:10px; margin-right:10px;" src="../../../../../assets/images/alertOrange.svg" />
      <p>{{ 'admin.aucunSecteur' | translate }}</p>
    </div>
    <div class="flexRow" *ngIf="!isAddSector">
      <div class="oneSectorSelected" *ngFor="let sector of newArticle.listSectors">
        <img class="button" src="../../../../../assets/images/straightBlackCross.svg"
          (click)="removeItem('secteur', sector)" />
        <p class="oneChoiceToPick">{{sector.key}}</p>
      </div>
    </div>
  </div>

  <div id="articlesLies" class="flexCol">
    <h2>{{ 'admin.articles' | translate }}</h2>
    <div class="flexRow" id="choixArticle">
      <div class="oneChoixArticle">
        <div class="emptyChoix" *ngIf="articlesSelected.length<1">
        </div>
        <div *ngIf="articlesSelected.length>0" class="oneArticleToSelect">
          <app-miniature-article-small [article]="articlesSelected[0]" [size]="'medium'"></app-miniature-article-small>
        </div>
        <img class="button buttonRightTop" (click)="openPopupAddArticle()" *ngIf="articlesSelected.length<1"
          src="../../../../../assets/images/grassAddCross.svg">
        <img class="button buttonRightTop" (click)="deleteArticle(articlesSelected[0], 'linked')"
          *ngIf="articlesSelected.length>0" src="../../../../../assets/images/grassCross.svg">
      </div>
      <div class="oneChoixArticle">
        <div class="emptyChoix" *ngIf="articlesSelected.length<2">
        </div>
        <div *ngIf="articlesSelected.length>1" class="oneArticleToSelect">
          <app-miniature-article-small [article]="articlesSelected[1]" [size]="'medium'"></app-miniature-article-small>
        </div>
        <img class="button buttonRightTop" (click)="openPopupAddArticle()" *ngIf="articlesSelected.length<2"
          src="../../../../../assets/images/grassAddCross.svg">
        <img class="button buttonRightTop" (click)="deleteArticle(articlesSelected[1], 'linked')"
          *ngIf="articlesSelected.length>1" src="../../../../../assets/images/grassCross.svg">
      </div>
      <div class="oneChoixArticle">
        <div class="emptyChoix" *ngIf="articlesSelected.length<3">
        </div>
        <div *ngIf="articlesSelected.length>2" class="oneArticleToSelect">
          <app-miniature-article-small [article]="articlesSelected[2]" [size]="'medium'"></app-miniature-article-small>
        </div>
        <img class="button buttonRightTop" (click)="openPopupAddArticle()" *ngIf="articlesSelected.length<3"
          src="../../../../../assets/images/grassAddCross.svg">
        <img class="button buttonRightTop" (click)="deleteArticle(articlesSelected[2],'linked')"
          *ngIf="articlesSelected.length>2" src="../../../../../assets/images/grassCross.svg">
      </div>
    </div>
  </div>

  <div id="selectArticleTraduit"> <!-- Même system que les articles liés-->
    <h2>Sélection de l'article traduit</h2>
    <div class="oneChoixArticle">
      <div class="emptyChoix" *ngIf="!articleTraduit">
      </div>
      <div *ngIf="articleTraduit" class="oneArticleToSelect">
        <app-miniature-article-small [article]="articleTraduit" [size]="'medium'"></app-miniature-article-small>
      </div>
      <img class="button buttonRightTop" (click)="openPopupAddArticleTraduit()" *ngIf="!articleTraduit"
        src="../../../../../assets/images/grassAddCross.svg">
      <img class="button buttonRightTop" (click)="deleteArticle(articlesSelected[0], 'traduit')"
        *ngIf="articleTraduit" src="../../../../../assets/images/grassCross.svg">
    </div>
  </div>

  <div id="listButtons" class="flexRow">
    <div *ngIf="!isEdit" class="button" (click)="write()">
      <p>{{ 'admin.poster' | translate }}</p>
    </div>

    <div *ngIf="isEdit" class="button" (click)="edit()">
      <p>Editer</p>
    </div>

    <div *ngIf="!isEdit" class="button">
      <p>{{ 'admin.annuler' | translate }}</p>
    </div>
  </div>

  <div *ngIf="isPosted" id="popupPost">
    <h2>{{ 'admin.success' | translate }}</h2>
  </div>

  <div *ngIf="isAddingArticleLinked || isAddingArticleTraduit" id="popupArticle">
    <h2>{{ 'admin.selectArticles' | translate }}</h2>
    <img style="width: 30px;position: absolute;right: 20px;top: 20px;" class="button" (click)="closeAddArticle()"
      src="../../../../../assets/images/blackCross.svg">
    <div class="search__container">
      <input class="search__input" type="text" placeholder="{{ 'admin.rechercher' | translate }}"
        [(ngModel)]="filterTextNav" (keyup)="refreshDisplayedArticle()">
    </div>
    <div id="miniatures">
      <div *ngFor="let rowArticle of displayedListArticleInNav">
        <div class="flexRow rowInNavArticle">
          <app-miniature-article-small class="button oneMinia" (click)="selectArticle(article)"
            *ngFor="let article of rowArticle" [article]="article" [size]="'small'"></app-miniature-article-small>
        </div>
      </div>
    </div>
  </div>