//SPECIFIC FOR RESPONSIVITE

@media screen and (max-width: 640px){
    #topPannel{
        padding-bottom: 3vh;
        .fond{
            width: 140vw;
            margin-top: -45vh;
            margin-left: 220vw;
            margin-right: -20vw;
            margin-bottom: -20vh;
            z-index: 1;
            transform: scale(5.5);
        }
        #header{
            .logoTitre{
                width:100%;
                h1{
                    font-size:30px !important;
                }
            }
            .logos{
                top: 90px !important;
                width: 35vw !important;
                right: 32.5vw !important;
                z-index: 5 !important;
                .divImage {
                  width: 20px !important;
                  height: 20px !important;
                  padding: 3px !important;
                  img{
                    width: 20px !important;
                    height: 20px !important;
                  }
                }
                .buttonLangue{
                  font-size: 15px !important;
                }
            }
        }
        .title{
            font-size: 25px;
            padding-top: 10vh;
            padding-bottom: 3vh;
            margin: 0px;
            font-weight: 500;
        }
        .orangeCircle{
            width: 10px;
            height: 10px;
            margin-bottom: 3vh;
        }
        #listInput{
            width: 100%;
            padding-top: 0vh;
            flex-direction: column-reverse;
            .oneInputDiv{
                width: 70%;
                margin: auto;
                padding: 3px 5px 3px 10px;
                margin-top: 4vh;
                input{
                    font-size: 10px;
                }
                .divImage{
                    width: 10px;
                    height: 10px;
                    padding: 3px;
                    border:1px solid black;
                    img{
                        width:10px;
                    }
                }
            }
        }
        #filtersList{
            width: 90%;
            margin-left: 5vw;
            .oneEntete{
                margin-right: 5px;
                p{
                    margin-right: 5px;
                    font-size:7px;
                }
            }
        }
    }

    #listArticle{
        .oneArticle{
            width:90%;
        }
    }


    #footer {
        height: auto !important;
        padding: 50px 10px 5px 10px;

        p {
            font-size: 20px !important;
            line-height: inherit;
            margin: 5px !important;
        }

        #info {
            height: auto !important;
            width: 100%;
            flex-direction: column;

            .legal{
                p{
                    font-size: 15px;
                    text-align: center;
                }
            }

            .redirect{
                width: 90vw !important;
                text-align: center;
            }

            .linkCreator{
                font-size: 12px !important;
            }

            .firstVertical{
                display: none;
            }
            .verticalSeparator{
                width: 45vw;
                height: 2px;
                margin: auto;
                background-color: #171817;
                margin-bottom: 8vh;
                margin-top: 8vh;
            }
            .img{
                display:none;
            }

            #logoSignature {
                height: 5vh;
                margin-top: 1.5vh;
                display: block;
            }

            .contact {
                width: 70vw;
                margin: auto;

                .listLogoContact {
                    width: 25vw;
                    margin-top: 5vh;

                    .divImage{
                        width: 7.5vw;
                        height: 7.5vw;
                        img{
                            width: 7.5vw;
                        }
                    }
                }
            }
        }
    }

    #bottomContact{
        padding-bottom: 8vh;
        padding-top: 8vh;
        .contactText{
            font: Bold 20px Montserrat;
            width: 80%;
        }
        .contactButton{
            margin-bottom: 6vh;
            margin-top: 8vh;
        }
    }

    #retourNav{
        top: 3px;
        left: 10px;
        .divImage{
            width: 10px;
            height: 10px;
            padding: 3px;
            img{
                width: 10px;
                height: 10px;
            }
        }
        p{
            font-size: 9px;
        }
    }

    #shareButton{
        top: 3px;
        right: 10px;
        .divImage{
            width: 10px;
            height: 10px;
            padding: 3px;
            img{
                width: 10px;
                height: 10px;
            }
        }
        p{
            font-size: 9px;
        }
    }
    .copyLink{
        font-size: 9px;
        top: 20px;
        right: 15px;
        color: white;
        background-color: #D17B53;
        padding: 3px;
    }

    #articlesLies{
        #articlesUnes{
            width: 100%;
            flex-direction: column;
            .oneArticle{
                width: 80vw;
                padding: 0px;
                margin: auto;
            }
        }
        h1{
            font-size: 20px;
            padding-top: 4vh;
            padding-bottom: 4vh;
        }
        p{
            font-size: 13px;
        }
    }
}