<div id="topPannel">
  <div class="divFond" id="fondBlock">
    <img class="fond" src="../../assets/images/fond.svg" />
  </div>
  <div class="flexRow" id="header">
    <a class="button logoTitre" routerLink="/home"><div>
      <h1>B.mind</h1>
      <p>cognitive innovation</p>
    </div></a>
    <div class="logos flexRow">
      <a href="https://twitter.com/BourgninaudJ" target="_blank">
        <div class="divImage button">
          <img src="../../assets/images/twitterBlack.svg">
        </div>
      </a>
      <a href="https://www.linkedin.com/company/b-mind-innovation" target="_blank">
        <div class="divImage button">
          <img src="../../assets/images/inBlack.svg">
        </div>
      </a>
      <div class="verticalSeparator"></div>
      <p class="button buttonLangue" [ngClass]="{'isSelected': isFrSelected}" (click)="switchLangue('fr')">FR</p>
      <p class="button buttonLangue" [ngClass]="{'isSelected': isEnSelected}" (click)="switchLangue('en')">EN</p>
    </div>
  </div>
  <h1 class="title">B.Blog</h1>
  <div class="orangeCircle"></div>
  <div class="flexRow" id="listInput" *ngIf="!isArticleReading">
    <div class="flexRow oneInputDiv" id="filtrageInput">
      <input style="pointer-events:none; width: 100%;" type="text" placeholder="{{ 'blog.filtrerPlH' | translate }}" [(ngModel)]="filtrageTxt"
        id="inputFilterText">
      <div class="divImage" (click)="invertFilter()">
        <img class="button" src="../../assets/images/arrowBlack.svg" id="imgFiltrageMenu" />
      </div>
    </div>
    <div class="flexRow oneInputDiv" id="rechercheInput">
      <input style="width: 100%;" type="text" placeholder="{{ 'blog.rechercherPlH' | translate }}" [(ngModel)]="rechercheTxt"
        (keyup.enter)="filter()">
      <div class="divImage" (click)="filter()">
        <img class="button" style="transform:rotate(-90deg)"
          src="../../assets/images/arrowBlack.svg" />
      </div>
    </div>
  </div>
  <div id="filtersList" class="flexRow" *ngIf="isFilterOpen && !isArticleReading">
    <div class="oneFilter">
      <div class="flexRow oneEntete button" (click)="openOneFilter('difficulte')">
        <p>{{filterLabel.difficulte}}</p>
        <img style="width:5px;" src="../../assets/images/filterArrowBlack.svg">
      </div>
      <div *ngIf="mapOpenFilter.difficulte" class="flexCol oneAbsChoice">
        <div class="flexRow checkUncheckAll">
          <p class="button" (click)="checkUncheckAll('difficulte', true)">{{ 'blog.tousF' | translate }}</p>
          <p>|</p>
          <p class="button" (click)="checkUncheckAll('difficulte', false)">{{ 'blog.aucunF' | translate }}</p>
        </div>
        <mat-checkbox [(ngModel)]="mapFilter.difficulte['1']" (click)="checkboxChecked('difficulte')">+</mat-checkbox>
        <mat-checkbox [(ngModel)]="mapFilter.difficulte['2']" (click)="checkboxChecked('difficulte')">++</mat-checkbox>
        <mat-checkbox [(ngModel)]="mapFilter.difficulte['3']" (click)="checkboxChecked('difficulte')">+++</mat-checkbox>
        <mat-checkbox [(ngModel)]="mapFilter.difficulte['4']" (click)="checkboxChecked('difficulte')">++++
        </mat-checkbox>
        <mat-checkbox [(ngModel)]="mapFilter.difficulte['5']" (click)="checkboxChecked('difficulte')">+++++
        </mat-checkbox>
      </div>
    </div>

    <div class="oneFilter">
      <div class="flexRow oneEntete button" (click)="openOneFilter('temps')">
        <p>{{filterLabel.temps}}</p>
        <img style="width:5px;" src="../../assets/images/filterArrowBlack.svg">
      </div>
      <div *ngIf="mapOpenFilter.temps" class="flexCol oneAbsChoice">
        <div class="flexRow checkUncheckAll">
          <p class="button" (click)="checkUncheckAll('temps', true)">{{ 'blog.tousM' | translate }}</p>
          <p>|</p>
          <p class="button" (click)="checkUncheckAll('temps', false)">{{ 'blog.aucunM' | translate }}</p>
        </div>
        <mat-checkbox [(ngModel)]="mapFilter.temps['5 min']" (click)="checkboxChecked('temps')">5 min</mat-checkbox>
        <mat-checkbox [(ngModel)]="mapFilter.temps['10 min']" (click)="checkboxChecked('temps')">10 min</mat-checkbox>
        <mat-checkbox [(ngModel)]="mapFilter.temps['30 min']" (click)="checkboxChecked('temps')">30 min</mat-checkbox>
        <mat-checkbox [(ngModel)]="mapFilter.temps['1 heure']" (click)="checkboxChecked('temps')">{{ 'blog.oneHour' | translate }}</mat-checkbox>
      </div>
    </div>

    <div class="oneFilter">
      <div class="flexRow oneEntete button" (click)="openOneFilter('type')">
        <p>{{filterLabel.type}}</p>
        <img style="width:5px;" src="../../assets/images/filterArrowBlack.svg">
      </div>
      <div *ngIf="mapOpenFilter.type" class="flexCol oneAbsChoice">
        <div class="flexRow checkUncheckAll">
          <p class="button" (click)="checkUncheckAll('type', true)">{{ 'blog.tousM' | translate }}</p>
          <p>|</p>
          <p class="button" (click)="checkUncheckAll('type', false)">{{ 'blog.aucunM' | translate }}</p>
        </div>
        <mat-checkbox *ngFor="let type of listTypes" [(ngModel)]="mapFilter.type[type.key]" (click)="checkboxChecked('type')">{{type.key}}</mat-checkbox>
      </div>
    </div>

    <div class="oneFilter">
      <div class="flexRow oneEntete button" (click)="openOneFilter('secteur')">
        <p>{{filterLabel.secteur}}</p>
        <img style="width:5px;" src="../../assets/images/filterArrowBlack.svg">
      </div>
      <div *ngIf="mapOpenFilter.secteur" class="flexCol oneAbsChoice">
        <div class="flexRow checkUncheckAll">
          <p class="button" (click)="checkUncheckAll('secteur', true)">{{ 'blog.tousM' | translate }}</p>
          <p>|</p>
          <p class="button" (click)="checkUncheckAll('secteur', false)">{{ 'blog.aucunM' | translate }}</p>
        </div>
        <mat-checkbox *ngFor="let secteur of listSecteurs" [(ngModel)]="mapFilter.secteur[secteur.key]" (click)="checkboxChecked('secteur')">{{secteur.key}}</mat-checkbox>
      </div>
    </div>

  </div>
</div>

<div id="listArticle" *ngIf="listArticleDisplay.length>0">
  <div *ngIf="!isDirectlyOpen">
    <div class="oneArticle" [style]="styleForSizeingArticle" *ngFor="let article of listPagesArticles[indicePage]"> 
      <app-miniature-article *ngIf="!isArticleReading || (isArticleReading && article==articleOnReader)"
        [article]="article" (click)="openArticle(article)"></app-miniature-article>
      <div id="retourNav" class="flexRow button" *ngIf="isArticleReading && article==articleOnReader"
        (click)="backToNav()">
        <div class="divImage">
          <img style="transform:rotate(90deg)" src="../../assets/images/arrowBlack.svg" />
        </div>
        <p>{{ 'blog.back' | translate }}</p>
      </div>
      <div id="shareButton" class="flexRow button" *ngIf="isArticleReading" (click)="share()">
        <p>{{ 'blog.share' | translate }}</p>
        <div class="divImage">
          <img src="https://image.flaticon.com/icons/svg/149/149722.svg"/>
        </div>
      </div>
      <p class="copyLink" *ngIf="isArticleReading && isLinkCopied">{{ 'blog.linkCopied' | translate }}</p>
    </div>
  </div>

  <div class="oneArticle" [style]="styleForSizeingArticle" *ngIf="isDirectlyOpen">
    <app-miniature-article [article]="articleToOpen" (click)="openArticle(articleToOpen)"></app-miniature-article>
    <div id="retourNav" class="flexRow button" *ngIf="isArticleReading" (click)="backToNav()">
      <div class="divImage">
        <img style="transform:rotate(90deg)" src="../../assets/images/arrowBlack.svg" />
      </div>
      <p>{{ 'blog.back' | translate }}</p>
    </div>
    <div id="shareButton" class="flexRow button" *ngIf="isArticleReading" (click)="share()">
      <p>{{ 'blog.share' | translate }}</p>
      <div class="divImage">
        <img src="https://image.flaticon.com/icons/svg/149/149722.svg"/>
      </div>
    </div>
    <p class="copyLink" *ngIf="isArticleReading && isLinkCopied">{{ 'blog.linkCopied' | translate }}</p>
  </div>

  <div id="pagination" class="flexRow" *ngIf="listPagesArticles.length>1 && !isArticleReading">
    <div class="divImage" (click)="changePage('prec', 0)">
      <img class="button" style="transform:rotate(90deg)" src="../../../assets/images/arrow.svg" />
    </div>
    <div class="divImage" *ngFor="let page of listPagesArticles; let i=index" (click)="changePage('', i)">
      <p class="button">{{i+1}}</p>
    </div>

    <div class="divImage" (click)="changePage('next', 0)">
      <img class="button" style="transform:rotate(-90deg)" src="../../../assets/images/arrow.svg" />
    </div>
  </div>
</div>

<div id="messageNoArticle" *ngIf="listArticleDisplay.length==0 && !isArticleReading">
  <h1>{{ 'blog.noResult' | translate }}</h1>
</div>

<div id="contenuArticle" *ngIf="isArticleReading">
  <app-article [article]="articleOnReader"></app-article>
</div>

<div id="articlesLies" *ngIf="isArticleReading && listArticlesLies.length>=1">
  <h1>{{ 'blog.interestArticles' | translate }}</h1>
  <div id="articlesUnes" class="flexRow">
    <div class="oneArticle button" *ngIf="listArticlesLies.length>=1">
      <app-miniature-article-small [article]="listArticlesLies[0]" [size]="'small'"
        (click)="openArticle(listArticlesLies[0])"></app-miniature-article-small>
    </div>
    <div class="oneArticle button" *ngIf="listArticlesLies.length>=2">
      <app-miniature-article-small [article]="listArticlesLies[1]" [size]="'small'"
        (click)="openArticle(listArticlesLies[1])"></app-miniature-article-small>
    </div>
    <div class="oneArticle button" *ngIf="listArticlesLies.length>=3">
      <app-miniature-article-small [article]="listArticlesLies[2]" [size]="'small'"
        (click)="openArticle(listArticlesLies[2])"></app-miniature-article-small>
    </div>
  </div>
</div>

<div id="bottomContact">
  <p class="contactText">{{ 'blog.suggestionBlog' | translate }}</p>
  <p class="button contactButton" (click)="openPopup('blog')">{{ 'blog.contact' | translate }}</p>
</div>

<div id="footer">
  <div id="info" class="flexRow">
    <div class="img">
      <img id="logoSignature" src="../../assets/images/logo.svg" />
    </div>
    <div class="verticalSeparator"></div>
    <div class="redirect flexCol">
      <a class="button" routerLink="/blog"><p>{{ 'home.menuBlog' | translate }}</p></a>
      <p>{{ 'home.legalMention' | translate }}</p>
      <p>{{ 'home.cookie' | translate }}</p>
    </div>
    <div class="verticalSeparator"></div>
    <div class="contact flexCol">
      <p>{{ 'home.reseauxFollow' | translate }}</p>
      <div class="flexRow listLogoContact">
        <a href="https://twitter.com/BourgninaudJ" target="_blank">
          <div class="divImage button">
            <img src="../../assets/images/twitterBlack.svg">
          </div>
        </a>
        <a href="https://www.linkedin.com/company/b-mind-innovation" target="_blank">
          <div class="divImage button">
            <img src="../../assets/images/inBlack.svg">
          </div>
        </a>
      </div>
    </div>
    <div class="verticalSeparator"></div>
    <div class="legal flexCol">
      <p>{{ 'home.bmindLoc' | translate }}</p>
      <p>{{ 'home.bmindCapital' | translate }}</p>
      <p>{{ 'home.bmindAdresse' | translate }}</p>
    </div>

  </div>
</div>