<div *ngIf="isFrSelected" id="bodyTxt">

    <h1 style="text-align: center;">Mentions légales</h1>

    <p>B.MIND S.A.S.U.</p>
    <p>Conformément aux dispositions des Articles 6-III et 19 de la Loi n°2004-575 du 21 juin 2004 pour la Confiance
        dans
        l’économie numérique, dite L.C.E.N., il est porté à la connaissance des utilisateurs et visiteurs du site
        bmindinnovation.com les présentes mentions légales.</p>
    <p>Le site bmindinnovation.com est accessible à l’adresse suivante : www.bmindinnovation.com (ci-après « le Site »).
        L’accès et l’utilisation du Site sont soumis aux présentes « Mentions légales » détaillées ci-après ainsi qu’aux
        lois et/ou règlements applicables.</p>
    <p>La connexion, l’utilisation et l’accès à ce Site impliquent l’acceptation intégrale et sans réserve de
        l’internaute
        de toutes les dispositions des présentes Mentions Légales.</p>

    <h2>ARTICLE 1 – INFORMATIONS LÉGALES</h2>

    <p>En vertu de l’Article 6 de la Loi n° 2004-575 du 21 juin 2004 pour la confiance dans l’économie numérique, il est
        précisé dans cet article l’identité des différents intervenants dans le cadre de sa réalisation et de son suivi.
    </p>
    <p><b>a. Editeur du site.</b> Le site bmindinnovation.com est édité par :</p>
    <p><b>B.mind S.A.S.U.</b></p>
    <p>au capital social de 10 000€, ayant son siège social à l’adresse suivante : 27 impasse des Aurengues 13013
        Marseille,
        et immatriculée au numéro suivant : SIRET 849 322 656 R.C.S Marseille</p>
    <p>Ci-après « l’Éditeur ».</p>
    <p><b>b. Hébergeur du site.</b> Le site bmindinnovation.com est hébergé par :</p>

    <p><b>OVH S.A.S.</b></p>
    <p>au capital de 10 069 020 €, ayant son siège social à l’adresse suivante : 2 rue Kellermann - 59100 Roubaix, et
        immatriculée au numéro suivant : SIRET 424 761 419 00045 R.C.S Lille Métroppole</p>

    <p>Ci-après « l’Hébergeur »</p>
    <p><b>c. Utilisateurs du site.</b> Sont considérés comme utilisateurs tous les internautes qui naviguent, lisent,
        visionnent et
        utilisent le site bmindinnovation.com. Ci-après les « Utilisateurs ».</p>
    <h2>ARTICLE 2 – CONFIDENTIALITE</h2>
    <p><b>a. Données collectés et traitées.</b> Conformément aux dispositions de l’article 5 du Règlement européen
        2016/679,
        la
        collecte et le traitement des données des utilisateurs du site respectent les principes suivants :</p>
    <p class="decalageTxt">• Licéité, loyauté et transparence : les données ne peuvent être collectées et traitées
        qu’avec le consentement
        de
        l’utilisateur propriétaire des données. A chaque fois que des données à caractère personnel seront collectées,
        il sera
        indiqué à l’utilisateur que ses données sont collectées, et pour quelles raisons ses données sont collectées.
    </p>
    <p class="decalageTxt">• Finalités limitées : la collecte et le traitement des données sont exécutés pour répondre à
        un ou plusieurs
        objectifs
        déterminés dans les présentes mentions légales.</p>
    <p class="decalageTxt">• Minimisation de la collecte et du traitement des données : seules les données nécessaires à
        la bonne exécution
        des
        objectifs poursuivis par le site sont collectées.</p>
    <p class="decalageTxt">• Intégrité et confidentialité des données collectées et traitées : le responsable du
        traitement des données
        s’engage à
        garantir l’intégrité et la confidentialité des données collectées.</p>
    <p class="decalageTxt">• Conservation des informations recueillies pour une durée indéterminée par B.mind. Elles
        sont destinées à
        communiquer
        dans le cadre d’une relation commerciale.</p>
    <p>Les données à caractère personnel collectées sur/via le site de B.mind sont les suivantes :</p>
    <p>– Adresse e-mail</p>
    <p>Ces données sont collectées lorsque l’Utilisateur effectue l’une des opérations suivantes sur le site :</p>
    <p>- Lorsque l’utilisateur complète le formulaire de contact</p>


    <p>La collecte et le traitement des données répondent aux finalités suivantes : Les données collectées permettent
        d’adresser des newsletters aux personnes qui se sont inscrites, ou de prendre contact avec les personnes qui
        complètent
        le formulaire dédié.</p>
    <p><b>b. Droits de l’utilisateur et procédures de mise en œuvre des droits de l’utilisateur.</b> Conformément à la
        réglementation
        concernant le traitement des données à caractère personnel, l’Utilisateur possède les droits ci-après énumérés.
    </p>
    <p>Afin que le responsable du traitement des données fasse droit à sa demande, l’utilisateur est tenu de lui
        communiquer :</p>
    ses prénom et nom ainsi que son adresse e-mail.
    <p><b>a. Droit d’accès, de rectification et droit à l’oubli.</b> L’utilisateur peut prendre connaissance, mettre à
        jour,
        modifier
        ou demander la suppression des données le concernant, en respectant la procédure ci-après énoncée :</p>

    <p>L’utilisateur doit envoyer un e-mail au responsable du traitement des données personnelles, en précisant l’objet
        de
        sa
        demande et en utilisant l’adresse e-mail de contact qui est fournie plus haut.</p>
    <p><b>b. Droit à la portabilité des données.</b> L’Utilisateur a le droit de demander la portabilité de ses données
        personnelles,
        détenues par Compagnie des Pâtissiers, vers un autre site, en se conformant à la procédure ci-après :</p>
    <p>L’utilisateur doit faire une demande de portabilité de ses données personnelles auprès du responsable du
        traitement
        des
        données, en envoyant un e-mail à l’adresse de contact fournie plus haut.</p>
    <p><b>c. Droit à la limitation et à l’opposition du traitement des données.</b> Enfin, l’Utilisateur a le droit de
        demander la
        limitation ou de s’opposer au traitement de ses données par la société B.Mind.</p>
    <p><b>d. Droit de déterminer le sort des données après la mort.</b> Il est rappelé à l’utilisateur qu’il peut
        organiser
        quel
        doit
        être le devenir de ses données collectées et traitées s’il décède, conformément à la loi n°2016-1321 du 7
        octobre
        2016.</p>
    <p><b>e. Droit de saisir l’autorité de contrôle compétente.</b> Dans le cas où le responsable du traitement des
        données
        décide
        de
        ne pas répondre à la demande de l’Utilisateur, et que l’Utilisateur souhaite contester cette décision, il est en
        droit
        de saisir la CNIL (Commission Nationale de l’Informatique et des Libertés, <a
            href="https://www.cnil.fr">https://www.cnil.fr</a>) ou tout juge
        compétent.</p>
    <p><b>f. Obligations du responsable du traitement des données.</b> Le responsable du traitement s’engage à protéger
        les
        données à
        caractère personnel collectées, à ne pas les transmettre à des tiers sans que l’utilisateur n’en ait été informé
        et
        à
        respecter les finalités pour lesquelles ces données ont été collectées.
        Le site dispose d’un certificat SSL afin de garantir que les informations et le transfert des données transitant
        par
        le
        site sont sécurisés.</p>
    <p><b>g. Cookies.</b> En savoir plus sur les cookies en visitant cette <b class="button"
            routerLink="/cookie">page</b>.
    </p>

    <h2>ARTICLE 3 – CONTACT</h2>
    <p>Pour tout signalement de contenus ou d’activités illicites, l’Utilisateur peut contacter l’Éditeur à l’adresse
        suivante
        : janeb.mind@gmail.com, ou par courrier recommandé avec accusé de réception adressé à l’Éditeur aux coordonnées
        précisées dans les présentes mentions légales.</p>
    <p>Crédits photos : flaticon.com ;</p>
    <p style="text-align: center;">Le site bmindinnovation vous souhaite une excellente navigation !</p>

</div>

<div *ngIf="!isFrSelected" id="bodyTxt">

    <h1 style="text-align: center;">Legal notice</h1>

    <p>B.MIND S.A.S.U.</p>
    <p>In accordance with the provisions of Articles 6-III and 19 of Law No. 2004-575 of 21 June 2004 for the Confidence in the Digital Economy, known as LCEN, it is brought to the attention of users and visitors of the website bmindinnovation.com present legal notices.</p>
    <p>B.mind website is accessible at the following address: www.bmindinnovation.com (hereinafter “the Site”). Access and use of the Site are subject to these “Legal Notices” detailed below as well as applicable laws and / or regulations.</p>
    <p>The connection, use and access to this Site imply the full and unreserved acceptance of the user of all the provisions of these Legal Terms.</p>

    <h2>ARTICLE 1 – LEGAL INFORMATION</h2>

    <p>Under Article 6 of Law No. 2004-575 of 21 June 2004 on confidence in the digital economy, it is specified in this article the identity of the various stakeholders as part of its implementation and monitoring.
    </p>
    <p><b>a. Publisher of the site.</b> Bmindinnovation website is published by:</p>
    <p><b>B.mind S.A.S.U.</b></p>
    <p>having its registered office at the following address: 27 impasse des Aurengues 13013 Marseille, and registered at the following number: SIRET 849 322 656 R.C.S Marseille</p>
    <p>hereinafter “the Publisher”</p>
    <p><b>b. Host of the site.</b> Bmindinnovation website is hosted by:</p>

    <p><b>OVH S.A.S.</b></p>
    <p>having its registered office at the following address: 2 rue Kellermann - 59100 Roubaix, and registered at the following number: SIRET SIRET 424 761 419 00045 R.C.S Lille Métropole</p>

    <p>Hereinafter “the Host”</p>
    <p><b>c. Users of the site.</b> All users who browse, read, view and use bmindinnovation website are considered as users. Hereinafter the “Users”.</p>
    <h2>ARTICLE 2 – CONFIDENTIALITY</h2>
    <p><b>a. Data collected and processed.</b> In accordance with the provisions of Article 5 of European Regulation 2016/679, the collection and processing of site users’ data complies with the following principles:</p>
    <p class="decalageTxt">• Lawfulness, loyalty and transparency: data can only be collected and processed with the consent of the user who owns the data. Whenever personal data is collected, it will be indicated to the user that his data are collected, and for what reasons his data is collected.
    </p>
    <p class="decalageTxt">• Limited Purposes: The collection and processing of data is performed to fulfill one or more of the purposes set out in this legal notice.</p>
    <p class="decalageTxt">• Minimizing the collection and processing of data: only the data necessary for the proper execution of the objectives pursued by the site are collected.</p>
    <p class="decalageTxt">• Integrity and confidentiality of the data collected and processed: the data controller is committed to ensuring the integrity and confidentiality of the data collected.</p>
    <p class="decalageTxt">• Retention of information collected for an indefinite period by bmindinnovation. They are intended to communicate in the context of a commercial relationship.</p>
    <p>The personal data collected on / via the bmindinnovation website are as follows:</p>
    <p>– E-mail address</p>
    <p>This data is collected when the User performs one of the following operations on the site:</p>
    <p>- When the user completes the contact form.</p>


    <p>The collection and processing of data serves the following purposes: The collected data makes it possible to send newsletters to the persons who have registered, or to contact the persons who complete the dedicated form.</p>
    <p><b>b. User rights and procedures for implementing user rights.</b> In accordance with the regulations on the processing of personal data, the User has the rights listed below.
    </p>
    <p>In order for the data controller to comply with his request, the user must communicate to him:</p>
    his first and last name as well as his e-mail address.
    <p><b>a. Right of access, rectification and right to be forgotten.</b> The user can read, update, modify or request the deletion of the data concerning him, by respecting the following procedure:</p>

    <p>The user must send an e-mail to the controller of personal data, specifying the subject of his request and using the contact e-mail address that is provided above.</p>
    <p><b>b. Right to portability of data.</b> The User has the right to request the portability of his personal data, held by B.mind, to another site, by following the procedure below:</p>
    <p>The user must make a request for portability of his personal data to the person responsible for data processing, by sending an e-mail to the contact address provided above.</p>
    <p><b>c. Right to limitation and opposition of data processing.</b> Finally, the User has the right to request the limitation or to oppose the processing of his data by bmindinnovation.</p>
    <p><b>d. Right to determine the fate of the data after death.</b> The user is reminded that he can organize what should be the future of his data collected and processed if he dies, in accordance with the law n ° 2016-1321 of October 7, 2016.</p>
    <p><b>e. Right to seize the competent supervisory authority.</b> In the event that the Data Controller decides not to respond to the User’s request, and the User wishes to challenge this decision, he / she is entitled to submit a complaint to the CNIL (National Commission for Computer and Information Technology). Libertés, <a
        href="https://www.cnil.fr">https://www.cnil.fr</a>) or any competent judge.)</p>
    <p><b>f. Obligations of the data controller.</b> The data controller undertakes to protect the collected personal data, not to transmit it to third parties without the user having been informed and to respect the purposes for which the data was collected.
        The site has an SSL certificate to ensure that information and data transfer through the site is secure.</p>
    <p><b>g. Cookies.</b><b class="button">Learn more</b> and set cookies by visiting this page.
    </p>

    <h2>ARTICLE 3 – CONTACT</h2>
    <p>For any report of illicit content or activities, the User may contact the Publisher at the following address: janeb.mind@gmail.com, or by registered mail with acknowledgment of receipt addressed to the Editor at the coordinates specified in the present Legal Notice.</p>
    <p>Photo credits: istock.com</p>
    <p style="text-align: center;">B.mind wishes you an excellent navigation!</p>

</div>