<div id="bodyTxt">

    <h1 style="text-align: center;">Mentions légales</h1>

    <p>B.MIND S.A.S.U.</p>
    <p>Conformément aux dispositions des Articles 6-III et 19 de la Loi n°2004-575 du 21 juin 2004 pour la Confiance
        dans
        l’économie numérique, dite L.C.E.N., il est porté à la connaissance des utilisateurs et visiteurs du site
        bmindinnovation.com les présentes mentions légales.</p>
    <p>Le site bmindinnovation.com est accessible à l’adresse suivante : www.bmindinnovation.com (ci-après « le Site »).
        L’accès et l’utilisation du Site sont soumis aux présentes « Mentions légales » détaillées ci-après ainsi qu’aux
        lois et/ou règlements applicables.</p>
    <p>La connexion, l’utilisation et l’accès à ce Site impliquent l’acceptation intégrale et sans réserve de
        l’internaute
        de toutes les dispositions des présentes Mentions Légales.</p>

    <h2>ARTICLE 1 – INFORMATIONS LÉGALES</h2>

    <p>En vertu de l’Article 6 de la Loi n° 2004-575 du 21 juin 2004 pour la confiance dans l’économie numérique, il est
        précisé dans cet article l’identité des différents intervenants dans le cadre de sa réalisation et de son suivi.
    </p>
    <p><b>a. Editeur du site.</b> Le site bmindinnovation.com est édité par :</p>
    <p><b>B.mind S.A.S.U.</b></p>
    <p>au capital social de 10 000€, ayant son siège social à l’adresse suivante : 27 impasse des Aurengues 13013
        Marseille,
        et immatriculée au numéro suivant : SIRET 849 322 656 R.C.S Marseille</p>
    <p>Ci-après « l’Éditeur ».</p>
    <p><b>b. Hébergeur du site.</b> Le site bmindinnovation.com est hébergé par :</p>

    <p><b>OVH S.A.S.</b></p>
    <p>au capital de 10 069 020 €, ayant son siège social à l’adresse suivante : 2 rue Kellermann - 59100 Roubaix, et
        immatriculée au numéro suivant : SIRET 424 761 419 00045 R.C.S Lille Métroppole</p>

    <p>Ci-après « l’Hébergeur »</p>
    <p><b>c. Utilisateurs du site.</b> Sont considérés comme utilisateurs tous les internautes qui naviguent, lisent,
        visionnent et
        utilisent le site bmindinnovation.com. Ci-après les « Utilisateurs ».</p>
    <h2>ARTICLE 2 – CONFIDENTIALITE</h2>
    <p><b>a. Données collectés et traitées.</b> Conformément aux dispositions de l’article 5 du Règlement européen
        2016/679,
        la
        collecte et le traitement des données des utilisateurs du site respectent les principes suivants :</p>
    <p class="decalageTxt">• Licéité, loyauté et transparence : les données ne peuvent être collectées et traitées
        qu’avec le consentement
        de
        l’utilisateur propriétaire des données. A chaque fois que des données à caractère personnel seront collectées,
        il sera
        indiqué à l’utilisateur que ses données sont collectées, et pour quelles raisons ses données sont collectées.
    </p>
    <p class="decalageTxt">• Finalités limitées : la collecte et le traitement des données sont exécutés pour répondre à
        un ou plusieurs
        objectifs
        déterminés dans les présentes mentions légales.</p>
    <p class="decalageTxt">• Minimisation de la collecte et du traitement des données : seules les données nécessaires à
        la bonne exécution
        des
        objectifs poursuivis par le site sont collectées.</p>
    <p class="decalageTxt">• Intégrité et confidentialité des données collectées et traitées : le responsable du
        traitement des données
        s’engage à
        garantir l’intégrité et la confidentialité des données collectées.</p>
    <p class="decalageTxt">• Conservation des informations recueillies pour une durée indéterminée par B.mind. Elles
        sont destinées à
        communiquer
        dans le cadre d’une relation commerciale.</p>
    <p>Les données à caractère personnel collectées sur/via le site de B.mind sont les suivantes :</p>
    <p>– Adresse e-mail</p>
    <p>Ces données sont collectées lorsque l’Utilisateur effectue l’une des opérations suivantes sur le site :</p>
    <p>- Lorsque l’utilisateur complète le formulaire de contact</p>


    <p>La collecte et le traitement des données répondent aux finalités suivantes : Les données collectées permettent
        d’adresser des newsletters aux personnes qui se sont inscrites, ou de prendre contact avec les personnes qui
        complètent
        le formulaire dédié.</p>
    <p><b>b. Droits de l’utilisateur et procédures de mise en œuvre des droits de l’utilisateur.</b> Conformément à la
        réglementation
        concernant le traitement des données à caractère personnel, l’Utilisateur possède les droits ci-après énumérés.
    </p>
    <p>Afin que le responsable du traitement des données fasse droit à sa demande, l’utilisateur est tenu de lui
        communiquer :</p>
    ses prénom et nom ainsi que son adresse e-mail.
    <p><b>a. Droit d’accès, de rectification et droit à l’oubli.</b> L’utilisateur peut prendre connaissance, mettre à
        jour,
        modifier
        ou demander la suppression des données le concernant, en respectant la procédure ci-après énoncée :</p>

    <p>L’utilisateur doit envoyer un e-mail au responsable du traitement des données personnelles, en précisant l’objet
        de
        sa
        demande et en utilisant l’adresse e-mail de contact qui est fournie plus haut.</p>
    <p><b>b. Droit à la portabilité des données.</b> L’Utilisateur a le droit de demander la portabilité de ses données
        personnelles,
        détenues par Compagnie des Pâtissiers, vers un autre site, en se conformant à la procédure ci-après :</p>
    <p>L’utilisateur doit faire une demande de portabilité de ses données personnelles auprès du responsable du
        traitement
        des
        données, en envoyant un e-mail à l’adresse de contact fournie plus haut.</p>
    <p><b>c. Droit à la limitation et à l’opposition du traitement des données.</b> Enfin, l’Utilisateur a le droit de
        demander la
        limitation ou de s’opposer au traitement de ses données par la société B.Mind.</p>
    <p><b>d. Droit de déterminer le sort des données après la mort.</b> Il est rappelé à l’utilisateur qu’il peut
        organiser
        quel
        doit
        être le devenir de ses données collectées et traitées s’il décède, conformément à la loi n°2016-1321 du 7
        octobre
        2016.</p>
    <p><b>e. Droit de saisir l’autorité de contrôle compétente.</b> Dans le cas où le responsable du traitement des
        données
        décide
        de
        ne pas répondre à la demande de l’Utilisateur, et que l’Utilisateur souhaite contester cette décision, il est en
        droit
        de saisir la CNIL (Commission Nationale de l’Informatique et des Libertés, <a
            href="https://www.cnil.fr">https://www.cnil.fr</a>) ou tout juge
        compétent.</p>
    <p><b>f. Obligations du responsable du traitement des données.</b> Le responsable du traitement s’engage à protéger
        les
        données à
        caractère personnel collectées, à ne pas les transmettre à des tiers sans que l’utilisateur n’en ait été informé
        et
        à
        respecter les finalités pour lesquelles ces données ont été collectées.
        Le site dispose d’un certificat SSL afin de garantir que les informations et le transfert des données transitant
        par
        le
        site sont sécurisés.</p>
    <p><b>g. Cookies.</b> En savoir plus sur les cookies en visitant cette <b class="button"
            routerLink="/cookie">page</b>.
    </p>

    <h2>ARTICLE 3 – CONTACT</h2>
    <p>Pour tout signalement de contenus ou d’activités illicites, l’Utilisateur peut contacter l’Éditeur à l’adresse
        suivante
        : janeb.mind@gmail.com, ou par courrier recommandé avec accusé de réception adressé à l’Éditeur aux coordonnées
        précisées dans les présentes mentions légales.</p>
    <p>Crédits photos : flaticon.com ;</p>
    <p style="text-align: center;">Le site bmindinnovation vous souhaite une excellente navigation !</p>

</div>