<div *ngIf="isFrSelected" id="bodyTxt">

    <h1 style="text-align: center;">Cookie policy</h1>

    <h2>EN SAVOIR PLUS ET PARAMÉTRER LES COOKIES</h2>
    <p>Cette page a pour but de vous informer sur l’utilisation des cookies de nos sites et de vous indiquer comment les
        paramétrer.</p>
    <h2>1. QU’EST-CE QU’UN COOKIE ?</h2>
    <p>Les cookies sont de petits fichiers texte déposés sur votre ordinateur/tablette/smartphone/télévision
        connectée/console de jeux vidéo connectée à Internet (regroupés sous le terme « dispositif ») lors de la visite
        d’un
        site. Ils ont pour but de collecter des informations relatives à votre navigation et de vous adresser des offres
        et
        services personnalisés. Les cookies sont gérés par votre navigateur internet.</p>
    <p>Les noms et les types spécifiques de cookies utilisés peuvent changer au fil du temps. Pour vous aider en votre
        qualité d’utilisateur à mieux comprendre les règles et l’utilisation de ces technologies, voici quelques
        définitions
        importantes.</p>
    <p><b>Cookies :</b> petits fichiers de texte (formats en général avec des lettres et des chiffres) sauvegardés dans
        la
        mémoire du
        navigateur ou du dispositif lorsque vous visitez un site ou affichez un message. Les cookies permettent à un
        site de
        reconnaître un dispositif ou un navigateur particulier. Il existe plusieurs types de cookies :</p>
    <p class="decalageTxt">• Les cookies de session expirent à la fin de la session du navigateur et nous permettent
        d’établir un lien avec les
        actions de l’utilisateur pendant cette session spécifique.</p>
    <p class="decalageTxt">• Les cookies permanents restent en revanche mémorisés dans le dispositif de l’utilisateur
        même
        après la fin de la
        session du navigateur et permettent d’enregistrer les préférences de l’utilisateur ou des actions dans davantage
        de
        sites.</p>
    <p class="decalageTxt">• Les cookies propriétaires (ou First Party Cookies) sont déposés par le site visité par
        l’utilisateur.</p>
    <p class="decalageTxt">• Les cookies de tiers (ou Third Party Cookies) sont déposés par un site tiers différent de
        celui
        visité par
        l’utilisateur.</p>
    <p><b>Balises Web :</b> petites images également appelées « tag pixel » ou « GIF transparents » que nous pouvons
        inclure
        sur nos
        sites, dans nos services, applications, messages et outils. En général, elles fonctionnent avec les cookies pour
        identifier nos utilisateurs et leurs activités.</p>
    <p><b>Technologies similaires :</b>technologies d’archivage des données dans le navigateur ou dans le dispositif à
        l’aide
        d’objets partagés au niveau local ou d’archivage local, dont les cookies flash, les cookies HTML 5 et d’autres
        méthodes
        logicielles pour applications Web. Ces technologies fonctionnent dans tous les navigateurs. Dans certains cas,
        l’utilisation de l’archivage local ne peut pas être entièrement gérée par les navigateurs mais doit l’être par
        des
        instruments spécifiques.</p>
    <p>Les termes « cookies », « balises web » et « technologies similaires » peuvent être utilisés indistinctement.
        C’est
        pourquoi nous utiliserons le terme « cookies » en référence à toutes les technologies utilisées pour archiver
        les
        données dans le navigateur ou le dispositif de l’utilisateur ou aux technologies de collecte de données ou
        permettant
        d’identifier l’utilisateur.</p>
    <h2>2. CHOIX DE L’UTILISATEUR</h2>
    <p>L’utilisateur peut désactiver chaque type de cookies à l’arrivée sur le site, via le bandeau d’acceptation des
        cookies
        et à tout moment de la navigation, via le module de gestion des cookies.</p>
    <p>Les cookies peuvent également être désactivés ou supprimés à l’aide des outils disponibles dans la plupart des
        navigateurs. Les préférences relatives aux cookies doivent être définies séparément pour chaque navigateur
        utilisé
        car
        chacun de ces navigateurs offre des fonctionnalités et des options spécifiques.</p>

    <p><b>Comment configurer votre navigateur</b></p>
    <p>– Firefox :</p>
    <p>1. Ouvrez Firefox</p>
    <p>2. Appuyez sur la touche « Alt »</p>
    <p>3. Dans le menu en haut de la page cliquez sur « Outils » puis « Options »</p>
    <p>4. Sélectionnez l’onglet « Vie privée »</p>
    <p>5. Dans le menu déroulant à droite de « Règles de conservation », cliquez sur « utiliser les paramètres
        personnalisés
        pour l’historique »</p>
    <p>6. Un peu plus bas, décochez « Accepter les cookies »</p>
    <p>7. Sauvegardez vos préférences en cliquant sur « OK »</p>
    <br>
    <p>– Internet Explorer :</p>
    <p>1. Ouvrez Internet Explorer</p>
    <p>2. Dans le menu « Outils », sélectionnez « Options Internet »</p>
    <p>3. Cliquez sur l’onglet « Confidentialité »</p>
    <p>4. Cochez la case « Ignorer la gestion automatique des cookies ». Cela débloque les options situées en-dessous
    </p>
    <p>5. Cliquez sur « Avancé » et décochez « Accepter »</p>
    <p>6. Sauvegardez vos préférences en cliquant sur « OK »</p>
    <br>
    <p>– Google Chrome :</p>
    <p>1. Ouvrez Google Chrome</p>
    <p>2. Cliquez sur l’icône d’outils dans la barre de menu, situé à droite de la barre de recherche et représenté par
        trois
        barres horizontales</p>
    <p>3. Sélectionnez « Paramètres »</p>
    <p>4. En bas de la page, cliquez sur « Afficher les paramètres avancés… »</p>
    <p>5. Dans la section « Confidentialité », cliquez sur « Paramètres de contenu… » et cochez la case « Bloquer les
        cookies
        et les données de sites tiers »</p>
    <p>6. Sauvegardez vos préférences en cliquant sur « OK »</p>
    <br>
    <p>– Safari :</p>
    <p>1. Ouvrez Safari</p>
    <p>2. Dans la barre de menu en haut, cliquez sur « Safari », puis « Préférences »</p>
    <p>3. Sélectionnez l’icône « Sécurité »</p>
    <p>4. À côté de « Accepter les cookies », cochez « Jamais »</p>
    <p>5. Si vous souhaitez voir les cookies qui sont déjà sauvegardés sur votre ordinateur, cliquez sur « Afficher les
        cookies »</p>

    <h2>3. POURQUOI UTILISONS-NOUS LES COOKIES ?</h2>
    <p><b>a. Utilisation nécessaire au fonctionnement.</b> L’utilisation de certains cookies peut être nécessaire pour
        le
        fonctionnement des sites. Cela inclut les technologies qui permettent d’éviter les activités frauduleuses et
        d’améliorer
        la sécurité ou de mettre à disposition des fonctionnalités avancées.</p>
    <p><b>b. Utilisation correspondant aux statistiques d’utilisation du site.</b> Nous pouvons utiliser des cookies
        pour évaluer les
        utilisations faites de nos sites Web, également dans le cadre des activités d’analyse. Le but est de comprendre
        de
        quelle manière les visiteurs utilisent nos sites Web, de déterminer s’ils ont interagi avec notre système de
        messagerie
        ou affiché un élément ou un lien, ou d’améliorer les contenus, les applications, les services ou les
        fonctionnalités du
        site.</p>
    <p><b>c. Utilisation correspondant aux fonctionnalités.</b> Nous pouvons utiliser des cookies pour offrir à
        l’utilisateur des
        fonctionnalités avancées pendant l’accès à nos sites ou pendant leur utilisation. Grâce à ces fonctionnalités,
        nous
        pouvons, par exemple, identifier les utilisateurs qui accèdent à nos sites ou en surveiller les préférences,
        intérêts ou
        objets affichées précédemment, de manière à améliorer la présentation des contenus sur nos sites.</p>
    <p><b>d. Utilisation correspondant à la publicité ou à la personnalisation des contenus.</b> Nous pouvons utiliser
        nos cookies ou
        ceux de tiers pour proposer des contenus, y compris des publicités correspondant aux intérêts de l’utilisateur
        sur nos
        sites ou sur des sites tiers. Cela inclut l’utilisation de technologies pour mieux évaluer l’utilité des
        publicités et
        contenus présentés à l’utilisateur, par exemple en vérifiant s’il a sélectionné ou non une annonce publicitaire.
        Pour plus d’informations sur les cookies, visitez <a href="https://www.cnil.fr/">le site de la CNIL.</a></p>

</div>

<div *ngIf="!isFrSelected" id="bodyTxt">
    <h1 style="text-align: center;">Cookie policy</h1>

    <h2>LEARN MORE AND SET COOKIES</h2>
    <p>This page aims to inform you about the use of cookies on our sites and to tell youhow to set them.</p>
    <h2>1. WHAT IS A COOKIE ?</h2>
    <p>Cookies are small text *les placed on your computer / tablet / smartphone / connected TV / video game console connected to the Internet (grouped under theterm “device”) when visiting a site. They aim to collect information about your navigation and to send you personalized o3ers and services. Cookies are managed by your internet browser.</p>
    <p>The speci*c names and types of cookies used may change over time. To help youas a user better understand the rules and the use of these technologies, here are some important definitions.</p>
    <p><b>Cookies :</b> Small text filles (usually letter and number formats) saved in the browseror device memory when you visit a site or display a message. Cookies allow a siteto recognize a particular device or browser. There are several types of cookies:</p>
    <p class="decalageTxt">• Session cookies expire at the end of the browser session and allow us to link to the user’s actions during that speci*c session.</p>
    <p class="decalageTxt">• Persistent cookies, however, remain stored in the user’s device even after the end of the browser session and allow user preferences or actions to be stored in more sites.</p>
    <p class="decalageTxt">• The proprietary cookies (or First Party Cookies) are deposited by the site visited by the user.</p>
    <p class="decalageTxt">• Third Party Cookies are deposited by a third party site di3erent from the one visited by the user.</p>
    <p><b>Web beacons :</b> small images also called “pixel tags” or “transparent GIFs” that we can include on our sites, in our services, applications, messages and tools. In general, they work with cookies to identify our users and their activities.</p>
    <p><b>Similar technologies: :</b>technologies for archiving data in the browser or device using locally shared objects or local archiving, including flash cookies, HTML 5 cookies, and other software methods for applications Web. These technologies work in all browsers. In some cases, the use of local archiving can not be fully managed by browsers but must be handled by speci*c instruments.</p>
    <p>The terms “cookies”, “web beacons” and “similar technologies” may be used indiscriminately. For this reason, we will use the term “cookies” in reference to allthe technologies used to archive data in the user’s browser or device, or to data collection technologies or to identify the user.</p>
    <h2>2. CHOICE OF THE USER</h2>
    <p>The user can deactivate each type of cookies upon arrival on the site, via the acceptance of cookies banner and at any time during the navigation, via the cookie management module.</p>
    <p>Cookies can also be disabled or deleted using the tools available in most browsers. The cookie preferences must be set separately for each browser used because each of these browsers offers specific features and options.</p>

    <p><b>How to configure your browser</b></p>
    <p>– Firefox :</p>
    <p>1. Open Firefox</p>
    <p>2. Press the “Alt” key</p>
    <p>3. In the menu at the top of the page click on “Tools” then “Options”</p>
    <p>4. Select the “Privacy” tab</p>
    <p>5. In the drop-down menu to the right of “Retention Rules,” click “Use Custom Settings for History”</p>
    <p>6. A little further down, uncheck “Accept cookies”</p>
    <p>7. Save your preferences by clicking “OK”</p>
    <br>
    <p>– Internet Explorer :</p>
    <p>1. Open Internet Explorer</p>
    <p>2. In the “Tools” menu, select “Internet Options”</p>
    <p>3. Click on the “Privacy” tab</p>
    <p>4. Check the box “Ignore automatic cookie management”. This unlocks the options below
    </p>
    <p>5. Click on “Advanced” and uncheck “Accept”</p>
    <p>6. Save your preferences by clicking “OK”</p>
    <br>
    <p>– Google Chrome :</p>
    <p>1. Open Google Chrome</p>
    <p>2. Click the tools icon in the menu bar, located to the right of the search bar and represented by three horizontal bars</p>
    <p>3. Select “Settings”</p>
    <p>4. At the bottom of the page, click on “Show advanced settings …”</p>
    <p>5. In the “Privacy” section, click “Content Settings …” and check the box “Block cookies and data from third-party sites”</p>
    <p>6. Save your preferences by clicking “OK”</p>
    <br>
    <p>– Safari :</p>
    <p>1. Open Safari</p>
    <p>2. In the menu bar at the top, click on “Safari”, then “Preferences”</p>
    <p>3. Select the “Security” icon</p>
    <p>4. Next to “Accept cookies”, tick “Never”</p>
    <p>5. If you want to see the cookies that are already saved on your computer, click on “Show cookies”</p>

    <h2>3. WHY DO WE USE COOKIES ?</h2>
    <p><b>a. Use necessary for operation.</b> The use of certain cookies may be necessary for the operation of the sites. This includes technologies that prevent fraudulent activity and enhance security or provide advanced features.</p>
    <p><b>b. Usage corresponding to the statistics of use of the site.</b> We may use cookies to evaluate the uses made of our websites, also as part of the analysis activities. The goal is to understand how visitors use our websites, to determine whether they have interacted with our messaging system or displayed an item or link, or to improve content, apps, services, or features. of the site.</p>
    <p><b>c. Use corresponding to the features.</b> We may use cookies to provide the user with advanced features while accessing our sites or while using them. With these features, we can, for example, identify users who access our sites or monitor the preferences, interests or objects previously displayed, so as to improve the presentation of content on our sites.</p>
    <p><b>d. Use corresponding to advertising or personalization of contents.</b> We may use our cookies or those of third parties to provide content, including advertisements corresponding to the interests of the user on our sites or on third party sites. This includes the use of technologies to better evaluate the usefulness of advertisements and content presented to the user, for example by checking whether or not he has selected an advertisement. For more information on cookies, visit the <a href="https://www.cnil.fr/">CNIL website</a>.</p>
</div>