<div id="bodyTxt">

    <h1 style="text-align: center;">Cookie policy</h1>

    <h2>EN SAVOIR PLUS ET PARAMÉTRER LES COOKIES</h2>
    <p>Cette page a pour but de vous informer sur l’utilisation des cookies de nos sites et de vous indiquer comment les
        paramétrer.</p>
    <h2>1. QU’EST-CE QU’UN COOKIE ?</h2>
    <p>Les cookies sont de petits fichiers texte déposés sur votre ordinateur/tablette/smartphone/télévision
        connectée/console de jeux vidéo connectée à Internet (regroupés sous le terme « dispositif ») lors de la visite
        d’un
        site. Ils ont pour but de collecter des informations relatives à votre navigation et de vous adresser des offres
        et
        services personnalisés. Les cookies sont gérés par votre navigateur internet.</p>
    <p>Les noms et les types spécifiques de cookies utilisés peuvent changer au fil du temps. Pour vous aider en votre
        qualité d’utilisateur à mieux comprendre les règles et l’utilisation de ces technologies, voici quelques
        définitions
        importantes.</p>
    <p><b>Cookies :</b> petits fichiers de texte (formats en général avec des lettres et des chiffres) sauvegardés dans
        la
        mémoire du
        navigateur ou du dispositif lorsque vous visitez un site ou affichez un message. Les cookies permettent à un
        site de
        reconnaître un dispositif ou un navigateur particulier. Il existe plusieurs types de cookies :</p>
    <p class="decalageTxt">• Les cookies de session expirent à la fin de la session du navigateur et nous permettent
        d’établir un lien avec les
        actions de l’utilisateur pendant cette session spécifique.</p>
    <p class="decalageTxt">• Les cookies permanents restent en revanche mémorisés dans le dispositif de l’utilisateur
        même
        après la fin de la
        session du navigateur et permettent d’enregistrer les préférences de l’utilisateur ou des actions dans davantage
        de
        sites.</p>
    <p class="decalageTxt">• Les cookies propriétaires (ou First Party Cookies) sont déposés par le site visité par
        l’utilisateur.</p>
    <p class="decalageTxt">• Les cookies de tiers (ou Third Party Cookies) sont déposés par un site tiers différent de
        celui
        visité par
        l’utilisateur.</p>
    <p><b>Balises Web :</b> petites images également appelées « tag pixel » ou « GIF transparents » que nous pouvons
        inclure
        sur nos
        sites, dans nos services, applications, messages et outils. En général, elles fonctionnent avec les cookies pour
        identifier nos utilisateurs et leurs activités.</p>
    <p><b>Technologies similaires :</b>technologies d’archivage des données dans le navigateur ou dans le dispositif à
        l’aide
        d’objets partagés au niveau local ou d’archivage local, dont les cookies flash, les cookies HTML 5 et d’autres
        méthodes
        logicielles pour applications Web. Ces technologies fonctionnent dans tous les navigateurs. Dans certains cas,
        l’utilisation de l’archivage local ne peut pas être entièrement gérée par les navigateurs mais doit l’être par
        des
        instruments spécifiques.</p>
    <p>Les termes « cookies », « balises web » et « technologies similaires » peuvent être utilisés indistinctement.
        C’est
        pourquoi nous utiliserons le terme « cookies » en référence à toutes les technologies utilisées pour archiver
        les
        données dans le navigateur ou le dispositif de l’utilisateur ou aux technologies de collecte de données ou
        permettant
        d’identifier l’utilisateur.</p>
    <h2>2. CHOIX DE L’UTILISATEUR</h2>
    <p>L’utilisateur peut désactiver chaque type de cookies à l’arrivée sur le site, via le bandeau d’acceptation des
        cookies
        et à tout moment de la navigation, via le module de gestion des cookies.</p>
    <p>Les cookies peuvent également être désactivés ou supprimés à l’aide des outils disponibles dans la plupart des
        navigateurs. Les préférences relatives aux cookies doivent être définies séparément pour chaque navigateur
        utilisé
        car
        chacun de ces navigateurs offre des fonctionnalités et des options spécifiques.</p>

    <p><b>Comment configurer votre navigateur</b></p>
    <p>– Firefox :</p>
    <p>1. Ouvrez Firefox</p>
    <p>2. Appuyez sur la touche « Alt »</p>
    <p>3. Dans le menu en haut de la page cliquez sur « Outils » puis « Options »</p>
    <p>4. Sélectionnez l’onglet « Vie privée »</p>
    <p>5. Dans le menu déroulant à droite de « Règles de conservation », cliquez sur « utiliser les paramètres
        personnalisés
        pour l’historique »</p>
    <p>6. Un peu plus bas, décochez « Accepter les cookies »</p>
    <p>7. Sauvegardez vos préférences en cliquant sur « OK »</p>
    <br>
    <p>– Internet Explorer :</p>
    <p>1. Ouvrez Internet Explorer</p>
    <p>2. Dans le menu « Outils », sélectionnez « Options Internet »</p>
    <p>3. Cliquez sur l’onglet « Confidentialité »</p>
    <p>4. Cochez la case « Ignorer la gestion automatique des cookies ». Cela débloque les options situées en-dessous
    </p>
    <p>5. Cliquez sur « Avancé » et décochez « Accepter »</p>
    <p>6. Sauvegardez vos préférences en cliquant sur « OK »</p>
    <br>
    <p>– Google Chrome :</p>
    <p>1. Ouvrez Google Chrome</p>
    <p>2. Cliquez sur l’icône d’outils dans la barre de menu, situé à droite de la barre de recherche et représenté par
        trois
        barres horizontales</p>
    <p>3. Sélectionnez « Paramètres »</p>
    <p>4. En bas de la page, cliquez sur « Afficher les paramètres avancés… »</p>
    <p>5. Dans la section « Confidentialité », cliquez sur « Paramètres de contenu… » et cochez la case « Bloquer les
        cookies
        et les données de sites tiers »</p>
    <p>6. Sauvegardez vos préférences en cliquant sur « OK »</p>
    <br>
    <p>– Safari :</p>
    <p>1. Ouvrez Safari</p>
    <p>2. Dans la barre de menu en haut, cliquez sur « Safari », puis « Préférences »</p>
    <p>3. Sélectionnez l’icône « Sécurité »</p>
    <p>4. À côté de « Accepter les cookies », cochez « Jamais »</p>
    <p>5. Si vous souhaitez voir les cookies qui sont déjà sauvegardés sur votre ordinateur, cliquez sur « Afficher les
        cookies »</p>

    <h2></h2>3. POURQUOI UTILISONS-NOUS LES COOKIES ?
    <p><b>a. Utilisation nécessaire au fonctionnement.</b> L’utilisation de certains cookies peut être nécessaire pour
        le
        fonctionnement des sites. Cela inclut les technologies qui permettent d’éviter les activités frauduleuses et
        d’améliorer
        la sécurité ou de mettre à disposition des fonctionnalités avancées.</p>
    <p><b>b. Utilisation correspondant aux statistiques d’utilisation du site.</b> Nous pouvons utiliser des cookies
        pour évaluer les
        utilisations faites de nos sites Web, également dans le cadre des activités d’analyse. Le but est de comprendre
        de
        quelle manière les visiteurs utilisent nos sites Web, de déterminer s’ils ont interagi avec notre système de
        messagerie
        ou affiché un élément ou un lien, ou d’améliorer les contenus, les applications, les services ou les
        fonctionnalités du
        site.</p>
    <p><b>c. Utilisation correspondant aux fonctionnalités.</b> Nous pouvons utiliser des cookies pour offrir à
        l’utilisateur des
        fonctionnalités avancées pendant l’accès à nos sites ou pendant leur utilisation. Grâce à ces fonctionnalités,
        nous
        pouvons, par exemple, identifier les utilisateurs qui accèdent à nos sites ou en surveiller les préférences,
        intérêts ou
        objets affichées précédemment, de manière à améliorer la présentation des contenus sur nos sites.</p>
    <p><b>d. Utilisation correspondant à la publicité ou à la personnalisation des contenus.</b> Nous pouvons utiliser
        nos cookies ou
        ceux de tiers pour proposer des contenus, y compris des publicités correspondant aux intérêts de l’utilisateur
        sur nos
        sites ou sur des sites tiers. Cela inclut l’utilisation de technologies pour mieux évaluer l’utilité des
        publicités et
        contenus présentés à l’utilisateur, par exemple en vérifiant s’il a sélectionné ou non une annonce publicitaire.
        Pour plus d’informations sur les cookies, visitez <a href="https://www.cnil.fr/">le site de la CNIL.</a></p>

</div>