//SPECIFIC FOR RESPONSIVITE

@media screen and (max-width: 825px) {
    #toggle {
        position: fixed !important;
        left: 25px !important;
        top: 40px !important;
        z-index: 1001 !important;
    }

    #boxMenu {
        background-color: #171817 !important;
        position: fixed !important;
        height: 100vh !important;
        width: 100vw !important;
        top: 0px !important;
        left: 0px !important;
        z-index: 1000 !important;
    }

    #timeline {
        display: none !important;
    }


    #header {
        .logoTitre {
            width: 50vw !important;

            h1 {
                font-size: 30px !important;
            }
        }
        .logos{
            display:none;
        }
    }

    #topPannel {
        padding-bottom: 3vh !important;

        #textTitle {
            padding: 0px !important;
            width: 78vw !important;
            margin:auto !important;
            padding-top: 20vh !important;
            padding-bottom: 15vh !important;

            .title {
                font-size: 25px !important;
            }

            .subTitle {
                font-size: 15px !important;
            }
        }

        .divFond {
            overflow: hidden !important;
            height: -webkit-fill-available !important;
            width: 100vw !important;
            position: absolute !important;

            .fond {
                width: 180vw !important;
                margin-top: -12vh !important;
                margin-left: 113vw !important;
                transform: scale(3.5) !important;
            }
        }

        .orangeCircle {
            width: 10px !important;
            height: 10px !important;
            margin-bottom: 3vh !important;
        }

        #boxMenu{
            #menu {
                padding-top: 5vh !important;
                padding-bottom: 10vh !important;
                a{
                    font : 25px/30px Montserrat;
                }
            }
        }
        

        #fixPannelTop {
            #blackCrossMobil {
                display: block;
                left:3vw !important;
                right: auto !important;
            }
        }
    }

    #mainPannel {
        padding-bottom: 8vh !important;

        #savoirFaire {
            margin-bottom: 3vh !important;

            h1 {
                font-size: 20px !important;
                width: 70% !important;
                margin: auto !important;
            }

            #imageDyn {
                height: 65vh !important;
                padding-top: 25vh !important;
                padding-bottom: 0vh !important;

                p {
                    font-size: 17px !important;
                }

                .logoTitre {
                    top: 35vh !important;
                    h1{
                        font-size: 40px !important;
                    }
                    p{
                        font-size: 25px !important;
                    }
                }

                .oneSegment,
                .oneSegmentV {
                    display: none !important;
                }

                #text0 {
                    left: 20vw !important;
                    width: 60vw !important;
                }

                #text1 {
                    right: 20vw !important;
                    width: 60vw !important;
                    top: 20vh;
                }

                #text2 {
                    right: 20vw !important;
                    width: 60vw !important;
                    bottom: 30vh !important;
                    top:auto !important;
                }


                #text3 {
                    left: 20vw !important;
                    width: 60vw !important;
                    bottom: 15vh !important;
                    top:auto !important;
                }

                #text4 {
                    left: 20vw !important;
                    width: 60vw !important;
                    bottom: 0vh !important;
                    top:auto!important;
                }
            }
        }

        #videoYt {
            width: 100% !important;
            height: 30vh !important;
        }

        #offres {
            padding-top: 5vh !important;

            .fond {
                width: auto !important;
                height: 144vw !important;
                margin-left: 277vw !important;
                margin-top: 238vh !important;
                transform: scaleX(5.5) scaleY(4.5) !important;
            }

            .title {
                font-size: 20px !important;
                margin-top: 0px !important;
                margin-bottom: 5vh !important;
            }

            h2 {
                font-size: 20px !important;
                margin-block-end: 5px !important;
            }

            p {
                margin-block-start: 0px !important;
                font-size: 18px !important;
            }

            #listOffer {
                width: 90% !important;
                flex-direction: column !important;

                .oneOffer {
                    width: 80vw !important;
                    margin: auto;
                    margin-bottom: 5vh;

                    .logoOffer {
                        width: 75px !important;
                        height: 75px !important;
                    }
                }
            }

            .textOffer {
                .text {
                    font-size: 20px !important;
                    width: 60%;
                    margin:auto;
                    padding-top: 7vh;
                    padding-bottom: 7vh;
                }
            }

            #plusOffer {
                width: 95vw;

                .blockTextContainer {

                    .blockTextOffer {
                        width: 45vw;

                        .pointSeparator {
                            width: 0.5vh;
                            height: 0.5vh;
                        }

                        p {
                            width: 42vw;
                        }
                    }
                }
            }
        }
    }

    #thirdPannel {
        padding-top: 3vh !important;
        padding-bottom: 8vh !important;

        .title {
            font-size: 20px !important;
            margin-top: 3vh !important;
            margin-bottom: 5vh !important;
        }

        #listValeurs {
            width: 95% !important;
            height: auto !important;
            align-items: flex-start !important;
            flex-direction: column;

            .verticalSeparator {
                height: 20vh !important;
                margin-top: 0vh !important;
                margin: auto;
                transform: rotate(90deg);

            }

            .oneValeur {
                width:80% !important;
                margin:auto !important;
                .divImage,
                .descValeur {
                    display: block !important;
                }

                .descValeur {
                    font-size: 18px !important;
                }

                .divImage {
                    width: 20px !important;
                    height: 20px !important;
                    padding: 3px !important;
                }

                .valeur {
                    height: 30px !important;
                    font-size: 20px !important;
                    line-height: 15px !important;
                }
            }
        }
    }

    #pannelBlog {
        padding-top: 3vh !important;
        padding-bottom: 3vh !important;

        .mainText {
            width: 90% !important;
            font-size: 20px !important;
            line-height: 25px !important;
        }

        .discoverText {
            margin-bottom: 5vh !important;
            margin-top: 3vh !important;
        }

        #articlesUnes {
            margin-bottom: 3vh !important;
            flex-direction: column;
        }
    }

    #partenaires {
        padding-top: 3vh !important;
        padding-bottom: 3vh !important;
        height: auto !important;

        h1 {
            font-size: 18px !important;
        }

        .text {
            width: 80% !important;
            font-size: 12px !important;
            margin-bottom: 3vh !important;
        }

        #rowPart1 {
            width: 50% !important;

            .part1 {
                width: 119px;
                height: 61px;
            }

            .part2 {
                width: 56px;
                height: 59px;
            }
        }

        #rowPart2 {
            width: 80% !important;

            .part3 {
                width: 135px;
                height: 47px;
            }

            .part4 {
                width: 65px;
                height: 60px;
            }

            .part5 {
                width: 84px;
                height: 84px;
            }
        }

        .blockFond {
            .fond {
                width: 206vw;
                margin-top: -20vh;
            }
        }
    }

    #carriere {
        height: auto !important;
        padding-top: 3vh !important;
        padding-bottom: 3vh !important;

        h1 {
            font-size: 18px !important;
        }

        #listCarriereOffer {
            flex-direction: column;
            .oneOffer {
                width:80vw !important;
                margin-bottom:3vh !important;
                &:first-of-type {
                    margin-left: 0px !important;
                }
                .oneOfferBox {
                    width: 80vw !important;
                    height: auto !important;
                    padding: 3vw 0vw 3vw 0vw !important;

                    img{
                        height: 20vw !important;
                        padding-top: 10vw !important;
                        padding-bottom: 10vw !important;
                    }

                    .divImage {
                        width: 30px !important;
                        height: 30px !important;
                        padding: 3px;

                        img{
                            height: 30px !important;
                            padding-top: 0vw !important;
                            padding-bottom: 0vw !important;
                        }
                    }
                }

                p {
                    font-size: 18px;
                }
            }
        }
    }

    #contact {
        height: auto !important;
        padding-top: 3vh !important;
        padding-bottom: 3vh !important;

        h1 {
            font-size: 18px !important;
            margin-bottom: 2vh;
        }

        #carteContact {
            width: 80%;
            flex-direction: column;

            #photoJane {
                height: 84vw;
                width: 70vw;
                margin-top: 3vh;
                margin-left: 10vw !important;
                margin-bottom: 5vh;
            }

            #fondPhoto {
                width: 70vw;
                height: 65vw;
                left: 5px;
                top: 0px;
            }

            .infosJane {
                width: 100% !important;
                .importantText {
                    font-size: 20px;
                    line-height: inherit;
                }

                p {
                    font-size: 18px;
                }
            }
        }
    }

    #footer {
        height: auto !important;
        padding: 50px 10px 5px 10px;

        p {
            font-size: 20px !important;
            line-height: inherit;
            margin: 5px !important;
        }

        #info {
            height: auto !important;
            width: 100%;
            flex-direction: column;

            .legal{
                p{
                    font-size: 15px;
                    text-align: center;
                }
            }

            .redirect{
                width: 90vw !important;
                text-align: center;
            }

            .linkCreator{
                font-size: 12px !important;
            }

            .firstVertical{
                display: none;
            }
            .verticalSeparator{
                width: 45vw;
                height: 2px;
                margin: auto;
                background-color: #F7F7F7;
                margin-bottom: 8vh;
                margin-top: 8vh;
            }
            .img{
                display:none;
            }

            #logoSignature {
                height: 5vh;
                margin-top: 1.5vh;
                display: block;
            }

            .contact {
                width: 70vw;
                margin: auto;

                .listLogoContact {
                    width: 25vw;
                    margin-top: 5vh;

                    .divImage{
                        width: 7.5vw;
                        height: 7.5vw;
                        img{
                            width: 7.5vw;
                        }
                    }
                }
            }
        }
    }

    #projets{
        flex-direction: column !important;
    }
    
    .blockVideo{
        padding:0px !important;
    }
    
    .hSeparator{
        width:50vw !important;
    }
    
    .blockTextContainer{
        flex-direction: column !important;
        .blockTextOffer{
            align-items: baseline !important;
            width: 85vw !important;
            margin: auto;
            p{
                width: 80vw !important;
            }
            .pointSeparator{
                width: 2vh !important;
                height: 2vh !important;
            }
        }
    }
    
    .plusOfferTitle{
        margin-bottom:15vh !important;
    }

    #partenaires{
        .blockFond{
            display: none;
        }
    }

    .infosJane{
        .contactButton{
            margin-top: 7vh !important;
            margin-bottom: 7vh !important;
        }
    }

    #boxMenu{
        .logos{
            display:flex !important;
            height: 50px !important;
            width: 60vw !important;
            top: 80vh !important;
            right: 20vw !important;

            .divImage {
                width: 30px !important;
                height: 30px !important;
                padding: 3px !important;

                img {
                    width: 30px !important;
                    height: 30px !important;
                }
            }

            .buttonLangue {
                font-size: 22px !important;
            }
        }
        
        .textMobile{
            display:block;
            text-align: center;
        }

        .textLogoTitre{
            h1{
                margin-block-end: 0px;
            }
            p {
                margin-block-start: 0px;
            }
        }
    }

    .linksCreator{
        position: relative !important;
        flex-direction: row !important;
        margin-top: 6vh !important;
        justify-content: space-evenly !important;
    
        .linkCreator{
            text-align: center !important;
        }
    }
}