#logoMain {
  width: 20%;
  display: block;
  margin: auto;
}

#imgDef {
  width: 40%;
  display: block;
  margin: auto;
}

#videoPres {
  margin: auto;
  display: block;
}

#partenaires {
  padding-top: 10vh;
  padding-bottom: 10vh;
  text-align: center;
  height: 70vh;

  .blockFond {
    position: absolute;
    margin-top: 21vh;
    margin-left: -21vw;
    margin-right: -20vw;
    margin-bottom: -20vh;
    height: 119vh;
    overflow: hidden;

    .fond {
      display: flex;
      width: 160vw;
      z-index: 1;
    }
  }

  :not(.fond .blockFond) {
    z-index: 2;
    position: relative;
  }

  .text {
    font-weight: 500;
    width: 40%;
    margin: auto;
    font-size: 20px;
    margin-bottom: 7vh;
  }

  .listPart {
    margin: auto;
    margin-bottom: 3vh;
    justify-content: space-between;
  }

  #rowPart1{
    width:40%;
    .part1{
      width:238px;
      height:122px;
    }
    .part2{
      width:112px;
      height:118px;
    }
    .part3{
      width:271px;
      height:94px;
    }
  }

  #rowPart2{
    width:20%;

    .part4{
      width:130px;
      height:120px;
    }
    .part5{
      width:168px;
      height:168px;
    }
  }

}

#carriere {
  padding-top: 5vh;
  padding-bottom: 5vh;
  height: 50vh;
  background-color: #171817;
  color: white;
  text-align: center;
  position: relative;

  h1,
  p,
  div {
    z-index: 2 !important;
    position: relative;
  }

  p {
    font-weight: 500;
  }

  #listCarriereOffer {
    width: 80vw;
    margin: auto;
    justify-content: space-between;

    .oneOffer {
      width: 22.5vw;
      &:first-of-type {
        margin-left:2vw;
      }

      .oneOfferBox {
        background-color: #D17B53;
        width: 14vw;
        height: 7vw;
        padding: 3vw 4vw 3vw 4.5vw;
        position: relative;

        img {
          height: 100%;
          filter: invert(1);
        }

        .divImage {
          border: 2px solid white;
          border-radius: 100%;
          width: 20px;
          height: 20px;
          padding: 5px;
          position: absolute;
          right: 5px;
          bottom: 5px;
          background-color: #D17B53;

          img {
            width: 100%;
          }

          .whiteArrow {
            display: block;
          }

          .orangeArrow {
            display: none;
          }

          &:hover {
            background-color: #F7F7F7;

            .whiteArrow {
              display: none;
            }

            .orangeArrow {
              display: block;
              filter: invert(0);
            }
          }
        }

      }

      p {
        margin: 0px;
        text-align: initial;
        font: Bold 18px Montserrat;
      }
    }
  }
}

#contact {
  padding-top: 5vh;
  padding-bottom: 5vh;
  background-color: #272727;
  color: white;

  h1,
  p {
    margin: 0px;
  }

  h1{
    text-align:center;
    margin-bottom:7vh;
  }

  #carteContact {
    position: relative;
    width: 40%;
    justify-content: space-between;
    margin: auto;

    #photoJane {
      height: 18.13vw;
      z-index: 2;
    }

    #fondPhoto {
      width: 15vw;
      height: 15vw;
      background-color: #D17B53;
      position: absolute;
      left: -20px;
      top: -20px;
      z-index: 1;
    }

    .infosJane {
      width: 80%;
      margin-left: 3vw;

      p {
        font-weight: 500;
        font-size: 13px;
      }

      .importantText {
        font: Bold 25px/30px Montserrat;
      }

      .contactButton {
        background-color: #D17B53;
        width: fit-content;
        width: -moz-fit-content;
        padding: 10px 15px 10px 15px;
        font: Light 20px/24px Montserrat;
        letter-spacing: 0;
        color: #F7F7F7;
        text-transform: uppercase;
        margin: auto;
      }
    }
  }

}

#footer {
  background: #171817;
  height: 12vh;
  padding: 10px 20px 10px 20px;

  a{
    color: #7E7E7E;
    text-decoration: none;
  }
  p {
    font-size: 2vh;
  }

  #info {
    height: 12vh;
    width: 70%;
    margin: auto;
    bottom: 0px;
    color: #7E7E7E;
    padding: 5px;
    justify-content: space-between;

    .verticalSeparator {
      height: auto;
      width: 1px;
      background-color: #7E7E7E;
    }

    #logoSignature {
      height: 10vh;
    }

    .img {
      padding-right: 2.5vw;
    }

    .redirect {
      width: 10vw;
      justify-content: space-around;
      padding-left: 2.5vw;
      padding-right: 2.5vw;

      p {
        margin: 0px;
      }
    }

    .contact {
      width: 14vw;
      padding-left: 1vw;
      padding-right: 1vw;
      text-align: center;
      justify-content: space-around;

      p {
        font-size: 2.2vh;
        margin: 0px;
      }

      .listLogoContact{
        width:5vw;
        justify-content:space-between;
        margin-left: auto;
        margin-right: auto;
      }

      .divImage {
        width: 1.2vw;
        height: 1.2vw;
        background-color: #D17B53;
        padding: 5px;
        border-radius: 4px;
        align-items: center;

        img {
          display: block;
          width: 1.2vw;
          margin: auto;
          filter: invert(1);
        }
      }
    }

    .legal {
      padding-left: 2.5vw;
      justify-content: space-around;

      p {
        margin: 0px;
      }
    }

    p {
      font-weight: 600;
    }
  }
}

#topPannel {
  background-color: #171817;
  color: #F7F7F7;
  padding-bottom: 7vh;
  position:relative;

  .divFond{
    overflow: hidden;
    height: -webkit-fill-available;
    width: 100vw;
    position: absolute;
    .fond{
      width: 140vw;
      margin-top: -45vh;
      margin-left: -20vw;
      margin-right: -20vw;
      margin-bottom: -20vh;
      z-index: 1;
    }
  }

  :not(.fond) {
    z-index: 2;
  }

  #header {
    position: relative;
    padding-top: 3vh;

    .logoTitre {
      width: 20vw;
      text-align: center;
      margin: auto;

      h1 {
        font-size: 50px;
      }

      p,
      h1 {
        margin: 0px;
      }
    }

    .logos {
      height: 30px;
      width: 11vw;
      justify-content: space-between;
      align-items: center;
      position: absolute;
      top: 50px;
      right: 50px;

      .divImage {
        width: 20px;
        height: 20px;
        background-color: #D17B53;
        padding: 5px;
        border-radius: 4px;
      }

      img {
        width: 20px;
        height: 20px;
        filter: invert(1);
      }

      .verticalSeparator {
        width: 2px;
        height: 100%;
        background-color: #F7F7F7;
      }

      .buttonLangue {
        border-radius: 4px;
        border: 1px solid #F7F7F7;
        font: Regular 16px/19px Montserrat;
        padding: 3px;
      }

      .isSelected {
        background-color: #F7F7F7;
        color: black;
      }
    }
  }

  #textTitle {
    padding-top: 20vh;
    padding-bottom: 25vh;
    text-align: center;
    position: relative;

    .subTitle {
      font-weight: normal;
      font-size: 30px;
    }

    .title {
      font-size: 40px;
    }
  }

  #menu {
    text-align: center;
    padding-top: 5vh;
    padding-bottom: 15vh;
    text-transform: uppercase;

    a {
      text-decoration: none;
      color: white;
      font: Bold 30px/35px Montserrat;
      margin-bottom: 1vh;
    }

    a:hover {
      color: #D17B53;
    }
  }
}

#mainPannel {
  background-color: #272727;
  color: #F7F7F7;
  padding-bottom: 15vh;

  #savoirFaire {
    padding-top: 5vh;
    padding-bottom: 5vh;

    .oneText {
      p {
        position: absolute;
      }
    }

    .logoTitre {
      position: absolute;
      width: 100%;
      top: 35vh;
      text-align: center;

      p,
      h1 {
        margin: auto;
      }

      h1 {
        font-size: 43px;
      }
    }

    #imageDyn {
      padding-top: 30vh;
      padding-bottom: 7vh;
      position: relative;
      height: 50vh;

      #text0{
        text-align:center;
        left: 41vw;
        top: 6vh;
        width:17vw; 
      }

      #segment0 {
        top: 26vh;
        left: 49.5vw;
        transition-property: left top;
        transition-duration: 1s;
      }

      #text1{
        text-align:center;
        right: 10vw;
        top: 16vh;
        width:17vw; 
      }
      #segment1 {
        transform: rotate(-20deg);
        top: 37vh;
        right: 39vw;
        transition-property: right top;
        transition-duration: 1s;
      }

      #text2{
        text-align:center;
        right: 13vw;
        bottom: 13vh;
        width:17vw; 
      }

      #segment2 {
        transform: rotate(-140deg);
        bottom: 34vh;
        right: 36vw;
        transition-property: right bottom;
        transition-duration: 1s;
      }

      #text3{
        text-align:center;
        left: 13vw;
        bottom: 13vh;
        width:17vw; 
      }
      #segment3 {
        transform: rotate(-40deg);
        bottom: 34vh;
        left: 36vw;
        transition-property: left bottom;
        transition-duration: 1s;
      }

      #text4{
        text-align:center;
        left: 10vw;
        top: 16vh;
        width:17vw; 
      }
      #segment4 {
        transform: rotate(15deg);
        top: 37vh;
        left: 39vw;
        transition-property: left top;
        transition-duration: 1s;
      }

      .oneSegment {
        position: absolute;
        border-bottom: 1px dashed white;
        display: flex;

        .rond {
          width: 15px;
          margin-left: 0px;
          margin-right: 0px;
          height: 15px;
          border-radius: 100%;
          margin-bottom: -7px;
          background-color: #D17B53;

          transition-property: margin-left, margin-right;
          transition-duration: 1s;
        }
      }

      .oneSegmentV {
        position: absolute;
        border-right: 1px dashed white;
        display: flex;

        .rond {
          width: 15px;
          margin-bottom: 0px;
          margin-top: 5vh;
          height: 15px;
          border-radius: 100%;
          margin-right: -7px;
          background-color: #D17B53;

          transition-property: margin-top, margin-bottom;
          transition-duration: 1s;
        }
      }
    }
  }

  #videoYt {
    width: 70%;
    display: block;
    margin: auto;
    height: 70vh;
  }

  #offres {
    .title{
      text-align:center;
      margin-bottom: 10vh;
      margin-top: 17vh;
    }

    .fond {
      position: absolute;
      width: 140vw;
      height: 70vw;
      margin-left: -20vw;
      margin-right: -29vw;
      margin-bottom: -16vh;
      margin-top: -3vh;
      z-index: 1;
      transform: scaleX(1.15) scaleY(0.9);
    }

    :not(.fond) {
      z-index: 2;
      position: relative;
    }

    #listOffer {
      width: 60%;
      margin: auto;
      justify-content: space-between;

      .oneOffer {
        width: 15vw;
        text-align: center;

        .logoOffer {
          width: 100px;
          height: 100px;
        }
      }
    }

    .textOffer {
      text-align: center;

      .text {
        font: Bold 20px/25px Montserrat;
      }

      .contactButton {
        background-color: #D17B53;
        width: fit-content;
        width: -moz-fit-content;
        padding: 10px 15px 10px 15px;
        font: Light 20px/24px Montserrat;
        letter-spacing: 0;
        color: #F7F7F7;
        text-transform: uppercase;
        margin: auto;
      }
    }
  }
}

#thirdPannel {
  padding-top: 10vh;
  padding-bottom: 22vh;
  background-color: #171817;
  color: white;
  text-align: center;

  h1,
  p {
    margin: 0px;
  }

  .title {
    margin-bottom: 15vh;
  }

  #listValeurs {
    width: 60%;
    margin: auto;
    justify-content: space-between;
    height: 15vh;
    align-items: center;

    .verticalSeparator {
      height: 15vh;
      width: 2px;
      background-color: #F7F7F7;
    }

    .oneValeur {
      width: 20vw;

      .descValeur {
        margin-top: 1vh;
        display: none;
      }

      .valeur {
        font: Bold 20px/25px Montserrat;
        margin-bottom: 1vh;
      }

      .divImage {
        width: 15px;
        height: 15px;
        padding: 5px;
        margin: auto;
        border: 2px solid #D17B53;
        border-radius: 100%;
        display: none;
      }

      &:hover {
        color: #D17B53;

        .divImage,
        .descValeur {
          display: block;
        }
      }
    }
  }
}

#pannelBlog {
  padding-top: 10vh;
  padding-bottom: 10vh;
  background-color: #272727;
  color: #F7F7F7;

  .mainText {
    width: 50%;
    margin: auto;
    font: Bold 30px/35px Montserrat;
    text-align: center;
  }

  .discoverText{
    margin-bottom:10vh;
  }

  .contactButton {
    background-color: #D17B53;
    width: fit-content;
    width: -moz-fit-content;
    padding: 10px 15px 10px 15px;
    font: Light 20px/24px Montserrat;
    letter-spacing: 0;
    color: #F7F7F7;
    text-transform: uppercase;
    margin: auto;
  }

  #articlesUnes {
    width: 80%;
    margin: auto;
    justify-content: space-between;
    margin-bottom: 7vh;
  }
}

/*Import toggle menu*/
#toggle {
  display: block;
  width: 40px;
  height: 40px;
  position: absolute;
  left: 80px;
  top: 50px;
}

#toggle span:after,
#toggle span:before {
  content: "";
  position: absolute;
  left: 0;
  top: -11px;
}

#toggle span:after {
  top: 11px;
}

#toggle span {
  position: relative;
  display: block;
}

#toggle span,
#toggle span:after,
#toggle span:before {
  width: 100%;
  height: 5px;
  background-color: #F7F7F7;
  transition: all 0.3s;
  backface-visibility: hidden;
  border-radius: 2px;
}

/* on activation */
#toggle.on span {
  background-color: transparent;
}

#toggle.on span:before {
  transform: rotate(45deg) translate(5px, 5px);
  top: -6px;
}

#toggle.on span:after {
  transform: rotate(-45deg) translate(7px, -8px);
}

.orangeCircle {
  margin: auto;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  background-color: #D17B53;
}

#timeline {
  position: fixed;
  left: 20px;
  padding-left: 10px;
  top: 30vh;
  height: 42vh;
  z-index: 2;

  .points {
    height: 42vh;
    width: 0px;
    border-right: 1px dashed #848484;
    justify-content: space-between;

    .pointOnTimeline {
      width: 7px;
      height: 7px;
      background-color: #848484;
      border-radius: 100%;
      margin-left: -3px;
    }

    .isHovered {
      width: 15px;
      height: 15px;
      margin-left: -7px;
      margin-top: -4px;
      margin-bottom: -4px;
    }
  }

  .solidLine {
    border-left: 1px solid #848484;
    margin-left: -1px;
  }

  .anchors {
    margin-left: 15px;
    height: 48vh;
    justify-content: space-between;
    margin-top: -3vh;
    color: #848484;

    .oneAnchor {
      height: 7vh;
      align-items: center;
      display: flex;
      visibility: hidden;

      p {
        margin: 0px;
        width: 3vw;
        font-size: 10px;
      }
    }

    .isVisible {
      visibility: visible;
    }
  }

  &:hover {

    .points {
      .selectedForHovers {
        background-color: #D17B53;
      }
    }

    .pointOnTimeline:hover {
      width: 15px;
      height: 15px;
      margin-left: -7px;
      margin-top: -4px;
      margin-bottom: -4px;
    }

    .anchors {
      .isHoveredByTimeline {
        color: #D17B53;
      }
    }

    .anchors {
      cursor: default;
    }
  }
}

#timeline:hover,
.points:hover,
.anchors:hover {
  .solidLine {
    border-color: #D17B53;
  }
}